Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 update
  packages/common/src/utils/auth/createAuthUser.ts
  packages/common/src/utils/auth/createAuthUserInfo.ts
  packages/common/src/utils/auth/logout.ts
  packages/common/src/utils/auth/setSession.ts
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/common/src/utils/initFirebase.ts
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.tsx
  packages/web/src/components/HOC/withAuthUser.tsx
  packages/web/src/middleware/commonMiddleware.ts
  packages/web/src/middleware/cookieSession.ts
  packages/web/src/middleware/cookieSessionRefresh.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 update
  packages/ui/package.json
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 working utils
  packages/web/src/pages/index.tsx
  packages/web/src/utils/auth/firebaseAdmin.ts
  packages/web/src/utils/auth/firebaseSessionHandler.ts
  packages/web/src/utils/auth/hooks.ts
  packages/web/src/utils/auth/initFirebase.ts
  packages/web/src/utils/auth/logout.ts
  packages/web/src/utils/auth/user.ts
  packages/web/src/utils/middleware/commonMiddleware.ts
  packages/web/src/utils/middleware/cookieSession.ts
  packages/web/src/utils/middleware/cookieSessionRefresh.ts
  packages/web/src/utils/pageWrappers/withAuthUser.tsx
  packages/web/src/utils/pageWrappers/withAuthUserInfo.tsx
Due: web

chore: 🤖 user
  packages/web/src/components/HOC/withAuthUser.tsx
Due: web

chore: 🤖 fix
  packages/web/src/utils/auth/user.ts
Due: web

chore: 🤖 feat
  packages/web/src/components/HOC/withAuthUser.tsx
Due: web

chore: 🤖 update
  packages/web/src/pages/reset-password.tsx
  packages/web/src/pages/signin.tsx
  packages/web/src/pages/signup.tsx
Due: web

chore: 🤖 proper add session
  packages/web/src/components/HOC/withAuthUser.tsx
Due: web

chore: 🤖 fix spaces auth
  packages/web/src/pages/spaces.tsx
Due: web

chore: 🤖 add typography to spaces
  packages/web/src/pages/spaces.tsx
  packages/web/src/pages/spaces/create.tsx
Due: web

chore: 🤖 infrastructure
  infrastructure/environments/alpha/main.tf
  infrastructure/environments/base/variables.tf
  infrastructure/environments/beta/main.tf
  infrastructure/environments/master/main.tf
  infrastructure/modules/run/variables.tf
  infrastructure/modules/run/web.tf
  packages/web/next.config.js
  packages/web/src/utils/auth/firebaseAdmin.ts
Due: web

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

feat: 🎸 perfectly working cookie dir
  packages/common/src/utils/auth/createAuthUser.ts
  packages/common/src/utils/auth/createAuthUserInfo.ts
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/common/src/utils/firebaseAdmin.ts
  packages/common/src/utils/firebaseSessionHandler.ts
  packages/common/src/utils/logout.ts
  packages/common/src/utils/user.ts
  packages/common/tsconfig.json
  packages/ui/src/hooks/useHooks/index.ts
  packages/ui/src/hooks/useHooks/useHooks.ts
  packages/web/src/pages/api/login.ts
  packages/web/src/utils/auth/firebaseSessionHandler.ts
  packages/web/src/utils/auth/initFirebase.ts
  packages/web/src/utils/auth/logout.ts
  packages/web/src/utils/middleware/commonMiddleware.ts
  packages/web/src/utils/middleware/cookieSession.ts
  packages/web/src/utils/middleware/cookieSessionRefresh.ts
  packages/web/src/utils/pageWrappers/withAuthUser.tsx
  packages/web/src/utils/pageWrappers/withAuthUserInfo.tsx
Due: ui, web

chore: 🤖 working yaaaaayayayayay yayay
  packages/web/src/components/HOC/withAuthUser.tsx
  packages/web/src/components/HOC/withAuthUserInfo.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/spaces.tsx
  packages/web/src/utils/pageWrappers/withAuthUser.tsx
  packages/web/src/utils/pageWrappers/withAuthUserInfo.tsx
Due: web

chore: 🤖 utils
  packages/common/src/utils/auth/createAuthUser.ts
  packages/common/src/utils/auth/createAuthUserInfo.ts
  packages/common/src/utils/auth/logout.ts
  packages/ui/src/hooks/useHooks/useHooks.ts
  packages/web/src/components/HOC/withAuthUser.tsx
Due: ui, web

feat: 🎸 add refactor cookie
  packages/ui/src/context/AuthUserInfoContext/AuthUserInfoContext.ts
  packages/ui/src/context/AuthUserInfoContext/index.ts
  packages/ui/src/hooks/useAuthUserInfo/index.ts
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.ts
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.tsx
  packages/ui/src/hooks/useFirebaseAuth/useFirebaseAuth.ts
  packages/ui/src/hooks/useFirebaseAuth/useFirebaseAuth.tsx
  packages/ui/src/hooks/useHooks/index.ts
  packages/web/src/components/HOC/withAuthUser.tsx
  packages/web/src/components/HOC/withAuthUserInfo.tsx
Due: ui, web

feat: 🎸 COMPLETE
  packages/web/src/pages/api/logout.ts
Due: web

fix: 🐛 add proper cookie
  packages/web/next.config.js
  packages/web/src/middleware/cookieSession.ts
Due: web

chore: 🤖 ini
  packages/web/src/middleware/cookieSession.ts
Due: web

fix: 🐛 add private keys
  .github/workflows/web.yml
  infrastructure/environments/alpha/main.tf
  infrastructure/environments/base/variables.tf
  infrastructure/environments/beta/main.tf
  infrastructure/environments/master/main.tf
  infrastructure/modules/run/variables.tf
  infrastructure/modules/run/web.tf
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/common/src/utils/firebaseAdmin.ts
  packages/web/next.config.js
Due: none

chore: 🤖 remove
  packages/common/src/utils/auth/verifyIdToken.ts
Due: none

fix: 🐛 add replace \\n
  packages/common/src/utils/firebaseAdmin.ts
Due: none

fix: 🐛 add console log
  packages/web/src/pages/api/login.ts
Due: web

fix: 🐛 change all to login (from signin)
  packages/common/src/interfaces/Header.ts
  packages/common/src/types/authType.ts
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Header/Header.spec.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiHeader.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/api/login.ts
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/privacy.tsx
  packages/web/src/pages/reset-password.tsx
  packages/web/src/pages/signup.tsx
  packages/web/src/pages/terms.tsx
Due: ui, web

chore: 🤖 clean
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

fix: 🐛 cypress working fix
  packages/web/cypress/tsconfig.json
Due: none

chore: 🤖 yarn update lock
  package.json
  yarn.lock
Due: none

chore: wip
  package.json
  packages/web/cypress/integration/spec.ts
  packages/web/cypress/plugins/cy-ts-preprocessor.js
  packages/web/cypress/plugins/index.js
  packages/web/package.json
  yarn.lock
Due: none

chore: plugin
  packages/web/cypress/plugins/cy-ts-preprocessor.js
  packages/web/cypress/plugins/index.js
  packages/web/cypress/tsconfig.json
Due: none

chore: packages
  package.json
  packages/web/package.json
  yarn.lock
Due: none

fix: console log beta
  packages/web/src/components/HOC/withAuthUser.tsx
Due: web
