Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 add pixelmator stats
  .vscode/settings.json
  Makefile
  design/pixelmator.dvc
Due: none

chore: 🤖 add pixelmator feature
  design/pixelmator.dvc
  packages/web/public/images/feature.png
Due: none

[ImgBot] Optimize images
  packages/blog/content/posts/en/2020-05-04/images/hero.jpg
  packages/web/public/images/banner-landing.png
  packages/web/public/images/feature.png
Due: none

feat: 🎸 add feature section
  packages/pioneer/src/day/2020/05/16.md
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

chore: 🤖 tmp
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/Feature/index.ts
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
  packages/ui/src/components/NavBar/NavBar.spec.tsx
  packages/ui/src/components/NavBar/NavBar.stories.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/components/NavBar/index.ts
  packages/ui/src/components/Particle/Particle.tsx
  packages/ui/src/index.ts
  packages/web/public/images/feature.png
  packages/web/src/pages/404.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 wip
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
  packages/ui/src/containers/LandingStyles/LandingStyles.ts
  packages/ui/src/containers/LandingStyles/index.ts
Due: ui

chore: 🤖 update header component
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

chore: 🤖 feat header ts
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

chore: 🤖 add css ts
  packages/ui/src/components/Header/Header.tsx
Due: ui

fix: 🐛 add header conditioning
  packages/pioneer/src/day/2020/05/16.md
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/components/NavHeader.tsx
  packages/web/src/components/SpyHeader.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/styles/global.scss
Due: ui, web

chore: 🤖 add nav header
  packages/web/src/components/LogoPicture.tsx
  packages/web/src/components/NavHeader.tsx
  packages/web/src/components/SpyHeader.tsx
  packages/web/src/styles/global.scss
Due: web

chore: 🤖 complete initial footer
  packages/ui/src/components/Footer/Footer.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 update custom 404
  packages/web/src/pages/404.tsx
Due: web

chore: 🤖 sentrei
  infrastructure/modules/github/sentrei.tf
Due: none

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: 🤖 change to banner
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/ui/src/components/Banner/index.ts
  packages/ui/src/components/Feature/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add banner image
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 finish feature component
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/Feature/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 update pioneer day
  packages/pioneer/src/day/2020/05/16.md
Due: none

feat: 🎸 add testimonial section
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/ui/src/components/Testimonial/TestimonialStyles.ts
  packages/ui/src/components/Testimonial/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

feat: 🎸 add banner logo
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 clean up and repot
  packages/pioneer/src/day/2020/05/16.md
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

chore: 🤖 testinominal
  packages/ui/src/components/Testimonial/Testimonial.tsx
Due: ui

chore: 🤖 add week pioneer
  packages/pioneer/src/day/2020/05/17.md
  packages/pioneer/src/day/2020/05/18.md
  packages/pioneer/src/week/2020/01.md
Due: none

fix: 🐛 apply grid for button
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Banner/BannerStyles.ts
Due: ui

feat: 🎸 add faq section
  packages/pioneer/src/day/2020/05/18.md
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Faq/FaqStyles.ts
  packages/ui/src/components/Faq/index.ts
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/Product/ProductStyles.ts
  packages/ui/src/components/Product/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
  packages/web/src/styles/global.scss
Due: ui, web

chore: 🤖 add class component
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

chore: 🤖 add product releasenotes
  packages/ui/src/components/Footer/Footer.tsx
Due: ui

feat: 🎸 add proper scrollspy
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 update product, banner, and feature
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/Product/ProductStyles.ts
Due: ui

chore: 🤖 add video svg
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/Product/ProductStyles.ts
  packages/web/public/images/video.svg
  packages/web/src/components/NavHeader.tsx
  packages/web/src/components/Picture/LogoPicture.tsx
  packages/web/src/components/Picture/VideoPicture.tsx
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/components/SpyHeader.tsx
  packages/web/src/pages/index.tsx
Due: ui, web
