Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

chore: 🤖 add web env
  .github/workflows/deploy.yml
  .github/workflows/web.yml
Due: none

fix: 🐛 add sentry gha
  .github/workflows/sentry.yml
Due: none

chore: 🤖 sentry
  .github/workflows/sentry.yml
Due: none

fix: 🐛 add sentry gha
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  packages/web/env.sh
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/utils/sentry.ts
  tsconfig.json
  yarn.lock
Due: web

chore: 🤖 add release yml
  .github/workflows/release.yml
  packages/web/next.config.js
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

chore:pick 🤖 add sentry cmd
  package.json
Due: none

chore: 🤖 add sentry org
  .github/workflows/release.yml
Due: none

chore: 🤖 add ui yarn
  .github/workflows/ui.yml
Due: none

fix: 🐛 add module path
  packages/common/package.json
  packages/ui/package.json
Due: none

fix: 🐛 add proper sentry configuration
  packages/web/src/utils/sentry.ts
Due: web

chore: 🤖 readme chore
  README.md
Due: none

chore: 🤖 readme
  README.md
Due: none

chore: 🤖 refactor sync
  .github/workflows/sync.yml
Due: none

chore: 🤖 add version num
  .github/workflows/deploy.yml
  packages/ui/src/components/Copyright/Copyright.tsx
  packages/web/env.sh
  packages/web/next.config.js
Due: ui

chore: 🤖 commit
  packages/web/env.sh
  packages/web/next.config.js
Due: none

fix: 🐛 add dynamic links
  .github/workflows/deploy.yml
  packages/web/alpha.firebase.json
  packages/web/beta.firebase.json
  packages/web/master.firebase.json
Due: none

fix: 🐛 remove dynamic links
  packages/web/alpha.firebase.json
  packages/web/beta.firebase.json
  packages/web/master.firebase.json
Due: none

feat: 🎸 add firebase config refactorization
  packages/web/src/pages/_app.tsx
  packages/web/src/utils/firebase.ts
Due: web

chore: 🤖 log app event
  packages/web/src/pages/_app.tsx
Due: web

fix: 🐛 add if else configuration
  packages/web/src/pages/_app.tsx
  packages/web/src/styles/global.scss
Due: web

chore: 🤖 add fastlane mobile
  .github/workflows/mobile.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  packages/web/package.json
Due: none

feat: 🎸 add first input delay
  packages/web/package.json
  packages/web/src/pages/_document.tsx
  yarn.lock
Due: web

fix: 🐛 refactor github actions test workflow
  .github/workflows/mobile.yml
  .github/workflows/test.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Due: none

feat: 🎸 add header component
  packages/ui/package.json
  packages/ui/src/components/Header/Header.spec.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/index.ts
  packages/ui/src/containers/Theme/Theme.tsx
  packages/web/package.json
  yarn.lock
Due: ui

chore: 🤖 fix to refactor styles
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

[sentrei-auto-fix]
  packages/ui/src/components/Header/Header.spec.tsx
Due: ui

fix: 🐛 add i18n link
  packages/ui/src/components/Link/Link.tsx
Due: ui

chore: 🤖 add i18n links
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 remove unnecessary components
  packages/ui/src/components/Button/Button.spec.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Landing/Landing.spec.tsx
  packages/ui/src/components/Landing/Landing.stories.tsx
  packages/ui/src/components/Landing/Landing.tsx
  packages/ui/src/components/Landing/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: add webpack config
  packages/ui/.storybook/webpack.config.js
  packages/ui/package.json
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 update webpack config
  packages/ui/.storybook/webpack.config.js
Due: none

[sentrei-auto-fix]
  packages/ui/.storybook/webpack.config.js
Due: none

chore: 🤖 add link ui
  packages/ui/src/components/Header/Header.tsx
Due: ui

chore: 🤖 finalize storybook config
  packages/ui/.storybook/config.ts
  packages/ui/.storybook/webpack.config.js
  packages/ui/package.json
  yarn.lock
Due: none

chore: 🤖 add public dir
  packages/common/src/i18n/i18n.ts
  packages/ui/.storybook/webpack.config.js
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/public/static/locales/en/_error.json
  packages/ui/public/static/locales/en/common.json
  packages/ui/public/static/locales/en/index.json
  packages/ui/public/static/locales/ja/_error.json
  packages/ui/public/static/locales/ja/common.json
  packages/ui/public/static/locales/ja/index.json
  yarn.lock
Due: none

chore: 🤖 add index component
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 working transparent primary
  packages/ui/src/components/Header/Header.spec.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add gitignore
  .gitignore
Due: none

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
