Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 null assertion test
  packages/web/src/pages/dashboard.tsx
Due: web

chore: 🤖 update eslintrc json
  .eslintrc.json
Due: none

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix: 🐛 remove shunkakinoki commiter
  .github/workflows/release.yml
Due: none

feat: 🎸 i18n complete refactoring
  packages/pioneer/src/day/2020/06/15.md
  packages/pioneer/src/week/2020/05.md
  packages/ui/src/components/Auth/Auth.tsx
  packages/web/public/static/locales/en/login.json
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

feat: 🎸 add i18n ally This is amazing wow
  .vscode/settings.json
Due: none

chore: 🤖 add i18n ally
  .devcontainer/devcontainer.json
Due: none

chore: 🤖 upgrade react parallax
  packages/ui/package.json
  yarn.lock
Due: none

fix: 🐛 tilt
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/ui/src/components/ScreenPanel/ScreenPanel.tsx
Due: ui

chore: 🤖 add translation auth
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

fix: 🐛 depcheck remove unused
  package.json
  yarn.lock
Due: none

chore: 🤖 add 06 17
  packages/pioneer/src/day/2020/06/16.md
  packages/pioneer/src/day/2020/06/17.md
Due: none

chore: 🤖 wip
  packages/pioneer/src/day/2020/06/17.md
Due: none

fix: 🐛 remove unused deps
  packages/web/.depcheckrc.yml
  packages/web/package.json
  packages/web/src/dec.d.ts
  yarn.lock
Due: web

chore: 🤖 add ui src
  packages/ui/.depcheckrc.yml
  packages/ui/package.json
Due: none

chore: 🤖 depcheck for functions
  packages/functions/.depcheckrc.yml
  packages/functions/package.json
Due: none

chore: 🤖 refactor
  package.json
  packages/common/.depcheckrc.yml
  packages/common/package.json
  packages/ui/.depcheckrc.yml
  packages/web/.depcheckrc.yml
  yarn.lock
Due: none

feat: 🎸 complete i18n refactor
  packages/pioneer/src/day/2020/06/17.md
Due: none

chore: 🤖 complete sentreiappheader
  packages/common/src/types/components/AppHeader.ts
  packages/web/src/components/SentreiAppHeader.tsx
  packages/web/src/pages/[id]/index.tsx
  packages/web/src/pages/create.tsx
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/profile.tsx
Due: web

fix: 🐛 complete banner section
  packages/common/src/types/components/Banner.ts
  packages/ui/src/components/Banner/Banner.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiBanner.tsx
Due: ui, web

chore: 🤖 complete sentrei banner
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 finish faq section
  packages/common/src/types/components/Faq.ts
  packages/ui/src/components/Faq/Faq.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiFaq.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 nested i18n json
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/en/login.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
Due: none

chore: 🤖 sort json obj
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
Due: none

chore: 🤖 remove unnecessary t
  packages/web/src/pages/[id]/index.tsx
  packages/web/src/pages/create.tsx
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/profile.tsx
Due: web

chore: 🤖 add nodemon server
  packages/web/nodemon.json
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 complete feature section
  packages/common/src/types/components/Feature.ts
  packages/ui/src/components/Feature/Feature.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 refactor sentrei header
  packages/common/src/types/components/Header.ts
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/components/SentreiHeader.tsx
  packages/web/src/pages/404.tsx
  packages/web/src/pages/[id]/index.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/privacy.tsx
  packages/web/src/pages/reset-password.tsx
  packages/web/src/pages/signup.tsx
  packages/web/src/pages/terms.tsx
Due: ui, web

chore: 🤖 refactored screen component
  packages/common/src/types/components/Screen.ts
  packages/ui/src/components/Screen/Screen.tsx
  packages/web/src/components/SentreiScreen.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 finish product section
  packages/ui/src/components/Product/Product.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 wip
  packages/common/src/types/components/Product.ts
Due: none

chore: 🤖 finish sentrei slider
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiSlider.tsx
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 complete testimonial and pricing
  packages/common/src/types/components/Pricing.ts
  packages/common/src/types/components/Testimonial.ts
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/PricingCard/PricingCard.tsx
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/components/SentreiTestimonial.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 complete
  packages/web/src/components/SentreiPricing.tsx
Due: web

chore: 🤖 refactor includedefault namespaces
  packages/common/src/i18n/i18n.ts
  packages/web/src/pages/create.tsx
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/privacy.tsx
  packages/web/src/pages/profile.tsx
  packages/web/src/pages/reset-password.tsx
  packages/web/src/pages/signup.tsx
  packages/web/src/pages/terms.tsx
Due: web

chore: 🤖 header
  .gitignore
  packages/ui/src/components/Header/Header.spec.tsx
Due: ui

feat: 🎸 add footer section
  packages/ui/package.json
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Footer/FooterStyles.ts
  yarn.lock
Due: ui

chore: 🤖 add i18n social
  packages/ui/src/components/Footer/Footer.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
Due: ui

chore: 🤖 remove footer test
  packages/ui/src/components/Footer/Footer.spec.tsx
Due: ui
