Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project:
      default:
        target: auto
        threshold: null
        base: auto
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        informational: true
        only_pulls: false
      mobile:
        flags: mobile
      ui:
        flags: ui
      web:
        flags: web
    patch: off
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 add bucket name
  infrastructure/modules/storage/reg.tf
Due: none

chore: 🤖 add zenhub badge
  README.md
Due: none

chore: 🤖 add reg cdn
  infrastructure/environments/master/main.tf
  infrastructure/modules/dns/reg.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/modules/storage/variables.tf
Due: none

chore: 🤖 add variables link
  infrastructure/modules/dns/variables.tf
  infrastructure/modules/storage/variables.tf
Due: none

chore: 🤖 add count index
  infrastructure/modules/storage/outputs.tf
Due: none

chore: 🤖 add count
  infrastructure/modules/storage/outputs.tf
Due: none

chore: 🤖 add reg
  infrastructure/modules/storage/outputs.tf
Due: none

chore: 🤖 output
  infrastructure/modules/storage/outputs.tf
Due: none

chore: 🤖 add reg names
  infrastructure/modules/dns/reg.tf
Due: none

chore: 🤖 add reg name
  infrastructure/modules/dns/reg.tf
Due: none

chore: 🤖 type to any
  infrastructure/modules/dns/variables.tf
Due: none

chore: 🤖 cho
  infrastructure/modules/dns/variables.tf
  infrastructure/modules/storage/outputs.tf
Due: none

chore: 🤖 add dns reg
  infrastructure/modules/dns/reg.tf
  infrastructure/modules/iam/terraform.tf
Due: none

chore: 🤖 add compute storage
  infrastructure/modules/iam/terraform.tf
Due: none

fix: 🐛 reset reg cdn and go to defaults
  infrastructure/modules/dns/reg.tf
  infrastructure/modules/dns/variables.tf
  infrastructure/modules/iam/terraform.tf
  infrastructure/modules/storage/reg.tf
Due: none

chore: 🤖 add proper tf
  infrastructure/environments/master/main.tf
  infrastructure/modules/storage/outputs.tf
Due: none

chore: 🤖 count index reg
  infrastructure/modules/storage/reg.tf
Due: none

Update reg.tf
  infrastructure/modules/storage/reg.tf
Due: none

fix: 🐛 add proper fonts
  packages/web/package.json
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/styles/index.scss
  yarn.lock
Due: web

[sentrei-auto-fix]
  packages/web/src/styles/index.scss
Due: web

chore: 🤖 add working sass
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 add Montserrat font with material ui
  packages/ui/src/containers/Theme/Theme.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/styles/global.scss
  packages/web/src/styles/index.scss
Due: ui, web

chore: 🤖 add link component
  packages/ui/src/components/Link/Link.spec.tsx
  packages/ui/src/components/Link/Link.stories.tsx
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Link/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/styles/global.scss
Due: ui, web

[sentrei-auto-fix]
  packages/web/src/styles/global.scss
Due: web

chore: 🤖 add .gitkeep
  packages/ui/src/hooks/.gitkeep
  packages/web/src/state/.gitkeep
Due: ui, web

chore: 🤖 add types to dep
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 add packagejson
  packages/ui/package.json
Due: none

chore: 🤖 add dev eslintrcjson
  .eslintrc.json
  packages/ui/src/hooks/.gitkeep
  packages/web/src/state/.gitkeep
Due: ui, web

chore: 🤖 remove unsplash production
  .github/workflows/web.yml
  Dockerfile
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 add deploy cache
  .github/workflows/deploy.yml
Due: none

chore: remove cache in deploy web
  .github/workflows/deploy.yml
Due: none

fix: 🐛 remove cache v2
  .github/workflows/deploy.yml
Due: none

fix: 🐛 add plugin imports
  .eslintrc.json
  packages/mobile/.gitignore
  packages/ui/src/components/Button/Button.spec.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Copyright/Copyright.spec.tsx
  packages/ui/src/components/Copyright/Copyright.stories.tsx
  packages/ui/src/components/Copyright/Copyright.tsx
  packages/ui/src/components/Link/Link.spec.tsx
  packages/ui/src/components/Link/Link.stories.tsx
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/ProTip/ProTip.spec.tsx
  packages/ui/src/components/ProTip/ProTip.stories.tsx
  packages/ui/src/components/ProTip/ProTip.tsx
  packages/ui/src/containers/Theme/Theme.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add git ignore
  packages/mobile/.gitignore
Due: none

feat: 🎸 add blog package
  .gitignore
  packages/blog/.firebaserc
  packages/blog/.gitignore
  packages/blog/content/authors/authors.yml
  packages/blog/content/authors/avatars/shunkakinoki.png
  packages/blog/content/posts/en/2020-05-04/images/hero.jpg
  packages/blog/content/posts/en/2020-05-04/index.md
  packages/blog/firebase.json
  packages/blog/gatsby-config.js
  packages/blog/package.json
  packages/blog/src/@narative/gatsby-theme-novela/components/Logo/Logo.tsx
  packages/blog/src/assets/favicon.png
  yarn.lock
Due: none

[sentrei-auto-fix]
  packages/blog/gatsby-config.js
  packages/blog/src/@narative/gatsby-theme-novela/components/Logo/Logo.tsx
Due: none

chore: 🤖 add gha blog
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: 🤖 add blog labels
  .github/labeler.yml
  .github/labels.yml
Due: none
