Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 add initial pricing
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/Pricing/PricingStyles.tsx
  packages/ui/src/components/Pricing/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

feat: 🎸 add pricing card
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/Pricing/PricingStyles.tsx
  packages/ui/src/components/PricingCard/PricingCard.tsx
  packages/ui/src/components/PricingCard/PricingCardStyles.tsx
  packages/ui/src/components/PricingCard/index.ts
  packages/ui/src/components/Product/Product.tsx
Due: ui

chore: 🤖 upgrade product cards
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/PricingCard/PricingCardStyles.tsx
  packages/ui/src/components/Product/Product.tsx
Due: ui

chore: 🤖 add tmp wip
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/Pricing/PricingStyles.tsx
  packages/ui/src/components/Section/Section.tsx
  packages/ui/src/components/Section/SectionStyles.tsx
  packages/ui/src/components/Section/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

feat: 🎸 update overall style
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Faq/FaqStyles.ts
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/Pricing/PricingStyles.tsx
  packages/ui/src/components/Testimonial/TestimonialStyles.ts
Due: ui

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

feat: 🎸 add underline fa1
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Section/Section.tsx
  packages/ui/src/components/Section/SectionStyles.tsx
Due: ui

chore: 🤖 pioneer
  packages/pioneer/src/day/2020/05/18.md
  packages/pioneer/src/day/2020/05/19.md
Due: none

feat: 🎸 add testimonial cards
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Faq/FaqStyles.ts
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/Section/SectionStyles.tsx
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCard.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCardStyles.ts
  packages/ui/src/components/TestimonialCard/index.ts
  packages/ui/src/index.ts
Due: ui

chore: 🤖 upgrade git cz
  package.json
  yarn.lock
Due: none

chore: 🤖 complete testimonial cards
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/ui/src/components/Testimonial/TestimonialStyles.ts
  packages/ui/src/components/TestimonialCard/TestimonialCard.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCardStyles.ts
Due: ui

chore: 🤖 refactor lint errors
  packages/ui/src/components/TestimonialCard/TestimonialCard.tsx
Due: ui

feat: 🎸 upgrade spacing component
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Faq/FaqStyles.ts
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/FeatureCard/FeatureCard.tsx
  packages/ui/src/components/FeatureCard/FeatureCardStyles.ts
  packages/ui/src/components/FeatureCard/index.ts
  packages/ui/src/components/Product/ProductStyles.ts
  packages/ui/src/components/Section/SectionStyles.tsx
  packages/ui/src/components/Spacing/Spacing.tsx
  packages/ui/src/components/Spacing/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 change margin 1
  packages/ui/src/components/TestimonialCard/TestimonialCard.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCardStyles.ts
Due: ui

feat: 🎸 complete initial product
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/Product/ProductStyles.ts
  packages/ui/src/components/Spacing/Spacing.tsx
Due: ui

chore: 🤖 upgrade product card
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/ui/src/components/ProductCard/ProductCardStyles.ts
  packages/ui/src/components/ProductCard/index.ts
  packages/ui/src/index.ts
Due: ui

chore: 🤖 upgrade product card
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/ProductCard/ProductCard.tsx
Due: ui

feat: 🎸 add i18n trans
  packages/common/src/i18n/i18n.ts
  packages/ui/src/components/Header/Header.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/src/components/NavHeader.tsx
  packages/web/src/components/SentreiHeader.tsx
  packages/web/src/components/SpyHeader.tsx
  packages/web/src/pages/_error.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 uie
  packages/ui/src/components/Header/Header.spec.tsx
Due: ui

feat: 🎸 add i18n feat
  packages/common/src/i18n/i18n.ts
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/containers/Theme/Theme.tsx
  packages/web/master.firebase.json
  packages/web/package.json
  packages/web/public/static/locales/zh/_error.json
  packages/web/public/static/locales/zh/common.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/pages/_document.tsx
  yarn.lock
Due: ui, web

chore: 🤖 lint
  packages/common/src/i18n/i18n.ts
Due: none

feat: 🎸 upgrade product card
  packages/ui/src/components/Header/HeaderStyles.ts
  packages/ui/src/components/ProductCard/ProductCard.tsx
Due: ui

feat: 🎸 add priicing section
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/PricingCard/PricingCard.tsx
  packages/ui/src/components/Testimonial/Testimonial.tsx
Due: ui

chore: 🤖 upgrade banner styles
  packages/ui/package.json
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/ui/src/components/PricingCard/PricingCard.tsx
  packages/ui/src/dec.d.ts
  yarn.lock
Due: ui

fix: 🐛 bug handle close
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/components/Picture/LogoPicture.tsx
Due: ui, web

chore: 🤖 removed stutter in react typical
  packages/ui/src/components/Banner/BannerStyles.ts
Due: ui
