Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

feat: 🎸 add profile menu
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/web/alpha.firebase.json
  packages/web/beta.firebase.json
  packages/web/master.firebase.json
  yarn.lock
Due: ui

feat: 🎸 add profile menu
  packages/common/src/interfaces/ProfileMenu.ts
  packages/ui/package.json
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
  packages/ui/src/components/ProfileMenu/index.ts
  packages/ui/src/dec.d.ts
  yarn.lock
Due: ui

feat: 🎸 add list menu
  packages/common/src/interfaces/ListMenu.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ListMenu/index.ts
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
Due: ui

[sentrei-auto-fix]
  packages/ui/package.json
Due: none

chore: 🤖 eslintrc json fix
  .eslintrc.json
  packages/blog/src/@narative/gatsby-theme-novela/components/Logo/Logo.tsx
  packages/common/src/utils/auth/createAuthUser.ts
  packages/common/src/utils/auth/createAuthUserInfo.ts
  packages/common/src/utils/auth/handleLogout.ts
  packages/common/src/utils/auth/loginRedirect.ts
  packages/common/src/utils/auth/signInWithGoogle.ts
  packages/common/src/utils/firebaseAdmin.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
  packages/ui/src/components/Room/Room.tsx
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.ts
  packages/ui/src/hooks/useFirebaseAuth/useFirebaseAuth.ts
  packages/web/src/components/HOC/withAuth.tsx
  packages/web/src/components/HOC/withAuthGuard.tsx
  packages/web/src/components/HOC/withUserGuard.tsx
  packages/web/src/pages/_document.tsx
Due: ui, web

chore: 🤖 type
  packages/common/src/utils/auth/handleLogout.ts
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
Due: ui

chore: 🤖 clean
  packages/ui/src/components/AppHeader/AppHeader.tsx
Due: ui

chore: 🤖 profile screen initiate
  packages/common/src/interfaces/Profile.ts
  packages/ui/src/components/Profile/Profile.tsx
  packages/ui/src/components/Profile/ProfileStyles.ts
  packages/ui/src/components/Profile/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/profile.tsx
Due: ui, web

chore: 🤖 any
  packages/ui/src/components/Profile/Profile.tsx
Due: ui

fix: 🐛 try index i18n
  packages/pioneer/src/day/2020/05/28.md
  packages/pioneer/src/day/2020/05/29.md
  packages/web/src/pages/index.tsx
Due: web

fix: 🐛 i18n
  packages/ui/src/components/Banner/Banner.tsx
  packages/web/src/components/HOC/withUserGuard.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

feat: 🎸 add initial props for wrapped components
  packages/web/src/components/HOC/withAuthGuard.tsx
  packages/web/src/components/HOC/withUserGuard.tsx
Due: web

refactor: 💡 everything related to hoc withAuthGuard & withUser
  packages/common/src/interfaces/Profile.ts
  packages/ui/src/components/Profile/Profile.tsx
  packages/web/src/components/HOC/withAuthGuard.tsx
  packages/web/src/components/HOC/withUserGuard.tsx
  packages/web/src/components/SentreiProfile.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/privacy.tsx
  packages/web/src/pages/profile.tsx
  packages/web/src/pages/reset-password.tsx
  packages/web/src/pages/rooms.tsx
  packages/web/src/pages/signup.tsx
  packages/web/src/pages/spaces.tsx
  packages/web/src/pages/terms.tsx
Due: ui, web

chore: 🤖 update firebase json
  packages/web/alpha.firebase.json
  packages/web/beta.firebase.json
  packages/web/master.firebase.json
Due: none

chore: 🤖 remove login redirect
  packages/common/src/utils/auth/loginRedirect.ts
Due: none

feat: 🎸 add react rough notation observer
  packages/ui/package.json
  yarn.lock
Due: none

feat: 🎸 add rough notation and animation
  packages/common/src/interfaces/Banner.ts
  packages/common/src/interfaces/Typical.ts
  packages/ui/package.json
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Typical/Typical.tsx
  packages/ui/src/components/Typical/TypicalStyles.ts
  packages/ui/src/components/Typical/index.ts
  packages/ui/src/dec.d.ts
  packages/web/src/pages/index.tsx
  yarn.lock
Due: ui, web

feat: 🎸 add english complete
  packages/common/src/interfaces/Banner.ts
  packages/common/src/interfaces/RoughNotation.ts
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
  packages/ui/src/components/RoughNotation/index.ts
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiBanner.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add en ja zh
  packages/ui/src/components/Banner/Banner.tsx
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
Due: ui

feat: 🎸 add landing tracking
  packages/common/src/utils/logEvent.ts
  packages/web/package.json
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/SentreiBanner.tsx
  packages/web/src/components/SentreiFaq.tsx
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/components/SentreiScreen.tsx
  packages/web/src/components/SentreiSlider.tsx
  packages/web/src/components/SentreiTestimonial.tsx
Due: web

chore: 🤖 change to init
  packages/web/src/pages/_app.tsx
Due: web

chore: 🤖 add analytics const
  packages/common/src/utils/logEvent.ts
Due: none

chore: 🤖 revert
  packages/common/src/utils/logEvent.ts
  packages/web/src/pages/_app.tsx
Due: web

feat: 🎸 add loading sentrei banner component
  package.json
  packages/common/src/interfaces/RoughNotation.ts
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
  packages/ui/src/components/Typical/Typical.tsx
  packages/web/src/pages/index.tsx
  yarn.lock
Due: ui, web

feat: 🎸 refactor rough notation
  packages/common/src/interfaces/RoughNotation.ts
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
Due: ui

chore: 🤖 add space fab
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
  packages/ui/src/components/SpaceFab/SpaceFabStyles.ts
  packages/ui/src/components/SpaceFab/index.ts
  packages/web/src/pages/dashboard.tsx
Due: ui, web

chore: 🤖 refactor profile menu
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
  packages/ui/src/components/SpaceFab/SpaceFabStyles.ts
Due: ui

chore: 🤖 pioneer
  packages/common/package.json
  packages/common/src/dec.d.ts
  packages/common/src/utils/fireDB.ts
  packages/common/src/utils/timeAgo.ts
  packages/pioneer/src/day/2020/05/19.md
  packages/pioneer/src/day/2020/05/29.md
  packages/pioneer/src/day/2020/05/30.md
  packages/web/src/pages/spaces/index.tsx
  yarn.lock
Due: web

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
