Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 add user nfo
  packages/ui/src/hooks/useAuthUserInfo/index.ts
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.tsx
  packages/web/src/components/HOC/withAuthUser.tsx
Due: ui, web

chore: 🤖 middleware update
  packages/common/src/utils/auth/createAuthUserInfo.ts
  packages/web/src/components/HOC/withAuthUser.tsx
  packages/web/src/middleware/commonMiddleware.ts
  packages/web/src/middleware/cookieSession.ts
  packages/web/src/middleware/cookieSessionRefresh.ts
Due: web

chore: 🤖 complete
  packages/web/src/components/HOC/withAuthUserInfo.tsx
  packages/web/src/pages/api/login.ts
  packages/web/src/pages/api/logout.ts
  packages/web/src/pages/spaces.tsx
  packages/web/src/pages/spaces/create.tsx
Due: web

chore: 🤖 firebase
  packages/common/src/utils/initFirebase.ts
  packages/web/src/pages/_app.tsx
Due: web

chore: 🤖 feature
  packages/ui/src/components/Feature/Feature.tsx
Due: ui

chore: 🤖 next sentrei config
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 add session secret
  packages/ui/src/hooks/usePagination/index.ts
  packages/ui/src/hooks/usePagination/usePagination.ts
  packages/web/next.config.js
  packages/web/src/pages/spaces.tsx
Due: ui, web

chore: 🤖 update create auth
  packages/common/src/utils/auth/createAuthUserInfo.ts
Due: none

chore: 🤖 remove firebase pagination
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 add key decrypt
  .gitignore
  packages/functions/Makefile
  packages/functions/key.sh
  packages/functions/key/functions-admin-alpha.json.gpg
  packages/functions/key/functions-admin-beta.json.gpg
  packages/functions/key/functions-admin-master.json.gpg
  packages/mobile/android/key.sh
Due: none

chore: 🤖 add private keys
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/web/next.config.js
Due: none

chore: 🤖 add firebase env
  .vscode/settings.json
  infrastructure/environments/base/variables.tf
  infrastructure/environments/master/main.tf
  infrastructure/modules/run/variables.tf
  infrastructure/modules/run/web.tf
Due: none

chore: 🤖 add firebase config
  .gitignore
  packages/functions/.eclintrc.json
  packages/functions/.firebaserc
  packages/functions/alpha.firebase.json
  packages/functions/beta.firebase.json
  packages/functions/firestore.rules
  packages/functions/master.firebase.json
  packages/functions/package.json
  packages/web/package.json
Due: none

chore: 🤖 refactor tsconfig json
  packages/functions/alpha.firebase.json
  packages/functions/beta.firebase.json
  packages/functions/firestore/firestore.indexes.json
  packages/functions/firestore/firestore.rules
  packages/functions/master.firebase.json
  packages/functions/package.json
  packages/functions/src/index.ts
  packages/functions/tsconfig.json
  packages/functions/tsconfig.lint.json
  packages/web/tsconfig.json
Due: none

chore: 🤖 refactor ini firebase
  packages/functions/alpha.firebase.json
  packages/functions/beta.firebase.json
  packages/functions/master.firebase.json
  packages/functions/package.json
  packages/functions/src/index.ts
  packages/functions/tsconfig.json
  yarn.lock
Due: none

[sentrei-auto-fix]
  packages/functions/package.json
Due: none

chore: 🤖 add functions gha
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: index
  package.json
  packages/functions/src/index.ts
  yarn.lock
Due: none

feat: ignore engines yarn
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  packages/web/Dockerfile
Due: none

chore: inf
  infrastructure/environments/alpha/main.tf
  infrastructure/environments/beta/main.tf
  infrastructure/environments/beta/variables.tf
Due: none

chore: yarn run ignore
  lerna.json
  packages/functions/package.json
Due: none

chore: ignore engines yarn
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  packages/web/Dockerfile
Due: none

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: eslint rc json
  .eslintrc.json
  packages/web/src/pages/_document.tsx
Due: web

chore: update yarn lock
  yarn.lock
Due: none

fix: 🐛 add correct functions
  .github/workflows/release.yml
  .github/workflows/test.yml
  packages/functions/package.json
Due: none

fix: 🐛 yarn run typescript
  .github/workflows/deploy.yml
Due: none

fix: 🐛 yarn run typescript
  .github/workflows/deploy.yml
  Makefile
  packages/pioneer/src/day/2020/05/24.md
  packages/pioneer/src/day/2020/05/25.md
  packages/pioneer/src/week/2020/02.md
Due: none

chore: 🤖 add key sh
  .github/workflows/deploy.yml
Due: none

feat: complete initial function
  packages/functions/src/index.ts
  tsconfig.json
Due: none

fix: disable firebase analytics
  packages/mobile/lib/main.dart
Due: mobile

chore: lint
  packages/mobile/lib/main.dart
Due: mobile
