Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

feat: 🎸 add signin login
  packages/ui/package.json
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Signin/Signin.tsx
  packages/web/public/static/locales/en/index.json
  yarn.lock
Due: ui

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 button render fix
  packages/ui/src/components/Banner/Banner.tsx
Due: ui

feat: 🎸 add initial signin
  packages/ui/src/components/Signin/Signin.tsx
Due: ui

chore: 🤖 remove
  packages/ui/src/components/Signin/Signin.tsx
Due: ui

chore: 🤖 update error handling
  packages/ui/src/components/Signin/Signin.tsx
Due: ui

chore: 🤖 add slide transition
  packages/ui/src/components/Signin/Signin.tsx
Due: ui

chore: 🤖 add yarn signin
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Signin/Signin.tsx
Due: ui

feat: add keio slider
  packages/ui/src/components/PricingCard/PricingCardStyles.ts
  packages/ui/src/components/Section/SectionStyles.ts
  packages/ui/src/components/Signin/SigninStyles.ts
  packages/web/public/images/keio.png
  packages/web/src/components/Picture/KeioPicture.tsx
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/components/SentreiSlider.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/styles/slider.scss
Due: ui, web

chore: add grayscale effect
  packages/web/src/styles/slider.scss
Due: web

feat: add testimonial
  packages/ui/src/components/Testimonial/Testimonial.tsx
Due: ui

chore: add section i18n
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiFaq.tsx
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/components/SentreiSlider.tsx
  packages/web/src/components/SentreiTestimonial.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: add complete testimonial
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCard.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCardStyles.ts
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/components/SentreiTestimonial.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chorea; add header sentrei
  packages/pioneer/src/day/2020/05/21.md
  packages/pioneer/src/day/2020/05/22.md
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/components/SentreiSlider.tsx
Due: ui, web

feat: 🎸 upgrade node env
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  CHANGELOG.md
  Makefile
Due: none

chore: 🤖 revert changelog md
  CHANGELOG.md
Due: none

feat: 🎸 update dev ops
  .github/workflows/deploy.yml
  .github/workflows/gcr.yml
  .github/workflows/mobile.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .vscode/settings.json
  infrastructure/modules/secret/docker.tf
Due: none

chore: 🤖 upgrade secrets naming
  .github/workflows/sync.yml
  infrastructure/modules/secret/github-alpha.tf
  infrastructure/modules/secret/github-beta.tf
  infrastructure/modules/secret/github-master.tf
  infrastructure/modules/secret/mobile-alpha.tf
  infrastructure/modules/secret/mobile-beta.tf
  infrastructure/modules/secret/mobile-master.tf
  infrastructure/modules/secret/web-alpha.tf
  infrastructure/modules/secret/web-beta.tf
  infrastructure/modules/secret/web-master.tf
  packages/web/public/static/locales/ja/index.json
Due: none

chore: 🤖 imp
  infrastructure/modules/secret/github-alpha.tf
  infrastructure/modules/secret/github-beta.tf
  infrastructure/modules/secret/github-master.tf
Due: none

chore: 🤖 fix pictures jss style
  .vscode/settings.json
  packages/web/src/components/Picture/ConnectPicture.tsx
  packages/web/src/components/Picture/DataPicture.tsx
  packages/web/src/components/Picture/FocusPicture.tsx
  packages/web/src/components/Picture/GoalPicture.tsx
  packages/web/src/components/Picture/LogoPicture.tsx
  packages/web/src/components/Picture/TimePicture.tsx
  packages/web/src/components/Picture/VideoPicture.tsx
Due: web

chore: 🤖 remove nodeenv production
  packages/common/src/utils/firebase.ts
  packages/web/src/pages/_app.tsx
Due: web

Update README.md
  README.md
Due: none

feat: 🎸 add signup, reset, ucl
  packages/common/src/types/authType.ts
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Auth/AuthStyles.ts
  packages/ui/src/components/Auth/index.ts
  packages/ui/src/components/Signin/index.ts
  packages/ui/src/components/Snackbar/Snackbar.tsx
  packages/ui/src/components/Snackbar/index.ts
  packages/ui/src/index.ts
  packages/web/public/images/ucl.png
  packages/web/src/components/Picture/UclPicture.tsx
  packages/web/src/components/SentreiSlider.tsx
  packages/web/src/pages/reset/index.tsx
  packages/web/src/pages/signup/index.tsx
Due: ui, web

chore: 🤖 add success email
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Header/Header.tsx
Due: ui

chore: 🤖 add severity email
  packages/ui/src/components/Snackbar/Snackbar.tsx
Due: ui

chore: 🤖 add account outline
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
