Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

chore: 🤖 fix auto merge
  .github/workflows/auto-merge.yml
Due: none

chore: 🤖 commit
  .github/workflows/auto-merge.yml
  .mergify/config.yml
Due: none

refactor: 💡 readme and dependabot
  .github/dependabot.yml
  README.md
Due: none

chore: 🤖 add dependabot status
  README.md
Due: none

chore: 🤖 remove license badge
  README.md
Due: none

chore: 🤖 remove storybook badge
  README.md
Due: none

feat: 🎸 i18n commit settings
  packages/common/src/i18n/i18n.ts
Due: none

chore: 🤖 refactor nodemon watch
  packages/web/nodemon.json
Due: none

chore: 🤖 add startup school
  README.md
Due: none

fix: 🐛 add sus pioneer
  packages/pioneer/src/.vuepress/config.js
  packages/pioneer/src/.vuepress/scripts/sus.js
  packages/pioneer/src/day/2020/06/18.md
  packages/pioneer/src/day/2020/06/19.md
  packages/pioneer/src/sus/2020/01.md
  packages/pioneer/src/week/2020/05.md
Due: none

chore: 🤖 add sus script
  packages/pioneer/src/.vuepress/config.js
Due: none

feat: 🎸 integrate swr firestore
  packages/web/package.json
Due: none

chore: 🤖 refactor yarn lock
  yarn.lock
Due: none

chore: 🤖 wip
  package.json
  packages/common/src/i18n/i18n.ts
  packages/common/src/types/components/SpaceDashboard.ts
  packages/functions/package.json
  packages/ui/package.json
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/web/src/pages/dashboard.tsx
  yarn.lock
Due: ui, web

feat: 🎸 successfully integrated useswr
  packages/web/src/pages/dashboard.tsx
Due: web

chore: 🤖 add placeholder image
  packages/common/src/types/components/SpaceCard.ts
  packages/common/src/types/components/SpaceDashboard.ts
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/web/src/pages/dashboard.tsx
Due: ui, web

chore: 🤖 wip
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceCard/SpaceCardStyles.ts
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/web/nodemon.json
Due: ui

chore: 🤖 wip
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
Due: ui

chore: 🤖 add proper locales
  packages/ui/locales
  packages/ui/src/locales
  packages/web/locales
  packages/web/src/locales
Due: ui, web

chore: 🤖 i18n
  packages/common/src/i18n/i18n.ts
Due: none

chore: 🤖 wip
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
Due: ui

feat: 🎸 fix i18n locales
  packages/common/src/i18n/i18n.ts
  packages/ui/locales
  packages/ui/public/static/locales
  packages/web/locales
  packages/web/public/static/locales
Due: none

chore: 🤖 wip
  packages/ui/src/components/MemberMenu/MemberMenu.tsx
Due: ui

chore: 🤖 reload
  packages/ui/src/components/MemberMenu/MemberMenu.tsx
Due: ui

chore: 🤖 remove swr from ui
  packages/ui/package.json
Due: none

feat: 🎸 refactor spaces working proper dashboard
  packages/pioneer/src/day/2020/06/20.md
Due: none

fix: 🐛 add functions delete
  packages/functions/src/__mocks__/firebase-admin.ts
  packages/functions/src/members/onCreate/memberCountPlus.ts
  packages/functions/src/members/onDelete/__tests__/spaceDeleteNone.ts
  packages/functions/src/members/onDelete/index.ts
  packages/functions/src/members/onDelete/memberCountMinus.ts
  packages/functions/src/members/onDelete/spaceDeleteNone.ts
Due: none

chore: 🤖 wip
  packages/functions/src/members/onDelete/__tests__/spaceDeleteNone.ts
  packages/functions/src/members/onDelete/spaceDeleteNone.ts
Due: none

chore: 🤖 successful my spaces
  packages/common/src/services/spaces.ts
  packages/common/src/types/services/SpaceQuery.ts
  packages/web/src/pages/[id]/index.tsx
  packages/web/src/pages/dashboard.tsx
Due: web

feat: 🎸 add space fab
  packages/common/src/types/components/SpaceCard.ts
  packages/common/src/types/components/SpaceDashboard.ts
  packages/ui/src/components/MemberMenu/MemberMenu.tsx
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceCard/SpaceCardStyles.ts
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
  packages/ui/src/components/SpaceFab/SpaceFabStyles.ts
  packages/ui/src/components/SpaceFab/index.ts
  packages/web/src/pages/dashboard.tsx
Due: ui, web

fix: 🐛 add proper unfollow
  packages/ui/src/components/MemberDialog/MemberDialog.tsx
Due: ui

Update README.md
  README.md
Due: none

feat: 🎸 complete refactor functions
  packages/functions/src/activity/onCreate/actionCategorySet.ts
  packages/functions/src/activity/onCreate/activityBatchSet.ts
  packages/functions/src/activity/onCreate/index.ts
  packages/functions/src/activity/onCreate/scoreBatchUpdate.ts
  packages/functions/src/activity/onCreate/userNotificationBatchCreate.ts
  packages/functions/src/profiles/onUpdate/collectionProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/index.ts
Due: none

chore: 🤖 commit fix tsconfig
  packages/functions/tsconfig.json
Due: none

chore: 🤖 refactor editor config
  .editorconfig
Due: none

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
