Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: 🤖 docker compose yml
  .devcontainer/docker-compose.yml
Due: none

fix: 🐛 upgrade secondary theme
  packages/ui/src/containers/Theme/Theme.tsx
Due: ui

Update docker-compose.yml
  .devcontainer/docker-compose.yml
Due: none

Update star.yml
  .github/workflows/star.yml
Due: none

chore: 🤖 docker compose host
  .devcontainer/docker-compose.yml
  .vscode/settings.json
Due: none

feat: 🎸 add spaces models
  .vscode/settings.json
  packages/functions/alpha.firebase.json
  packages/functions/beta.firebase.json
  packages/functions/master.firebase.json
  packages/pioneer/src/day/2020/06/04.md
Due: none

fix: 🐛 change to analytics().logEvent
  packages/common/src/utils/logEvent.ts
  packages/web/src/components/SentreiBanner.tsx
  packages/web/src/components/SentreiFaq.tsx
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/components/SentreiScreen.tsx
  packages/web/src/components/SentreiSlider.tsx
  packages/web/src/components/SentreiTestimonial.tsx
  packages/web/src/pages/index.tsx
Due: web

feat: 🎸 refactor to v1 and helpers to common
  packages/common/package.json
  packages/common/src/helpers/getNameFromEmail.ts
  packages/common/src/helpers/getProfileChanges.ts
  packages/common/src/helpers/index.ts
  packages/common/src/helpers/updateProfile.ts
  packages/functions/src/__tests__/testHelpers.ts
  packages/functions/src/__tests__/users.spec.ts
  packages/functions/src/helpers/__tests__/getNameFromEmail.spec.ts
  packages/functions/src/index.ts
  packages/functions/src/profiles/onUpdate/updateSettings.ts
  packages/functions/src/users/onCreate/index.ts
  packages/functions/src/users/onCreate/setupProfile.ts
  packages/functions/src/users/onDelete/deleteUser.ts
  packages/functions/src/users/onDelete/index.ts
  packages/pioneer/src/day/2020/06/04.md
Due: none

chore: 🤖 refactor ui model
  packages/common/src/services/logIPAddress.ts
Due: none

chore: 🤖 fix test helpers
  packages/functions/jest.config.js
  packages/functions/src/users/onCreate/__tests__/setupProfile.spec.ts
Due: none

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 tmp fix for typical
  packages/functions/src/users/onCreate/setupProfile.ts
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/ui/src/components/Typical/Typical.tsx
  packages/ui/src/components/Typical/TypicalStyles.ts
Due: ui

chore: 🤖 wip
  packages/ui/src/components/Banner/Banner.tsx
  packages/web/public/static/locales/en/index.json
Due: ui

fix: 🐛 added secondary and color to roughnotation
  packages/common/src/interfaces/ProductCard.ts
  packages/common/src/interfaces/RoughNotation.ts
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
Due: ui

fix: 🐛 signup analytics method
  packages/common/src/services/signup.ts
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

fix: 🐛 login error messagge
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

chore: 🤖 refactor to declare module
  packages/common/src/models/Member.ts
  packages/common/src/models/Metadata.ts
  packages/common/src/models/Profile.ts
  packages/common/src/models/Space.ts
  packages/common/src/models/User.ts
  packages/web/src/pages/profile.tsx
Due: web

chore: 🤖 move helpers functions
  packages/functions/src/helpers/getNameFromEmail.ts
  packages/functions/src/helpers/getProfileChanges.ts
  packages/functions/src/helpers/index.ts
  packages/functions/src/helpers/updateProfile.ts
  packages/functions/src/profiles/onUpdate/updateSettings.ts
  packages/functions/src/users/onCreate/setupProfile.ts
Due: none

chore: 🤖 wip for env
  packages/common/src/models/Member.ts
  packages/functions/package.json
  packages/web/.env.development.local.example
  packages/web/.env.example
  packages/web/.env.local.example
  packages/web/src/pages/profile.tsx
Due: web

feat: 🎸 add data dvc
  .gitignore
  Makefile
  packages/functions/data.dvc
Due: none

chore: 🤖 refactor make file
  Makefile
Due: none

fix: 🐛 ditch emulator since it doesn't work
  packages/common/src/utils/firebase.ts
  packages/functions/package.json
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

feat: 🎸 add ondelete and onupdate functions
  packages/common/src/models/Space.ts
  packages/functions/src/spaces/onDelete/__tests__/updateUserSpace.spec.ts
  packages/functions/src/spaces/onDelete/index.ts
  packages/functions/src/spaces/onDelete/updateUserSpace.ts
  packages/functions/src/spaces/onUpdate/__tests__/updateUserSpace.spec.ts
  packages/functions/src/spaces/onUpdate/index.ts
  packages/functions/src/spaces/onUpdate/updateUserSpace.ts
  packages/functions/src/users/onCreate/__tests__/setupUser.spec.ts
  packages/functions/src/users/onCreate/index.ts
  packages/functions/src/users/onCreate/setupUser.ts
Due: none

chore: 🤖 refactor issue labels
  .github/labels.yml
Due: none

Update labels.yml
  .github/labels.yml
Due: none

feat: 🎸 initial refactor functions
  packages/common/src/models/Space.ts
  packages/functions/package.json
  packages/functions/src/admin/index.ts
  packages/functions/src/admin/onCreate/index.ts
  packages/functions/src/admin/onCreate/statsPlus.ts
  packages/functions/src/admin/onDelete/index.ts
  packages/functions/src/admin/onDelete/statsMinus.ts
  packages/functions/src/helpers/statsCollection.ts
  packages/functions/src/helpers/statsUpdate.ts
  packages/functions/src/members/index.ts
  packages/functions/src/members/onCreate/__tests__/spaceMemberPlus.ts
  packages/functions/src/members/onCreate/__tests__/userSpaceSet.ts
  packages/functions/src/members/onCreate/index.ts
  packages/functions/src/members/onCreate/spaceMemberPlus.ts
  packages/functions/src/members/onCreate/userSpaceSet.ts
  packages/functions/src/members/onDelete/__tests__/spaceMemberMinus.ts
  packages/functions/src/members/onDelete/__tests__/userSpaceDelete.ts
  packages/functions/src/members/onDelete/index.ts
  packages/functions/src/members/onDelete/spaceMemberMinus.ts
  packages/functions/src/members/onDelete/userSpaceDelete.ts
  packages/functions/src/profiles/onUpdate/index.ts
  packages/functions/src/profiles/onUpdate/userProfileUpdate.ts
  packages/functions/src/spaces/onCreate/__tests__/spaceMemberSet.ts
  packages/functions/src/spaces/onCreate/index.ts
  packages/functions/src/spaces/onCreate/spaceMemberSet.ts
  packages/functions/src/spaces/onDelete/__tests__/userSpaceDelete.spec.ts
  packages/functions/src/spaces/onDelete/index.ts
  packages/functions/src/spaces/onDelete/userSpaceDelete.ts
  packages/functions/src/spaces/onUpdate/__tests__/userSpaceUpdate.spec.ts
  packages/functions/src/spaces/onUpdate/index.ts
  packages/functions/src/spaces/onUpdate/userSpaceUpdate.ts
  packages/functions/src/usernames/onCreate/index.ts
  packages/functions/src/usernames/onCreate/profileUpdate.ts
  packages/functions/src/users/onCall/index.ts
  packages/functions/src/users/onCall/ipAddressAdd.ts
  packages/functions/src/users/onCreate/__tests__/userBatchSet.spec.ts
  packages/functions/src/users/onCreate/index.ts
  packages/functions/src/users/onCreate/userBatchSet.ts
  packages/functions/src/users/onDelete/index.ts
  packages/functions/src/users/onDelete/userBatchDelete.ts
Due: none

chore: 🤖 change members to count
  packages/functions/src/members/onCreate/__tests__/spaceMemberPlus.ts
  packages/functions/src/members/onDelete/__tests__/spaceMemberMinus.ts
Due: none

chore: 🤖 updaet
  packages/functions/src/members/onCreate/__tests__/spaceMemberPlus.ts
  packages/functions/src/members/onCreate/__tests__/userSpaceSet.ts
  packages/functions/src/members/onDelete/__tests__/spaceMemberMinus.ts
  packages/functions/src/members/onDelete/__tests__/userSpaceDelete.ts
  packages/functions/src/spaces/onCreate/__tests__/spaceMemberSet.ts
  packages/functions/src/spaces/onDelete/__tests__/userSpaceDelete.spec.ts
  packages/functions/src/spaces/onUpdate/__tests__/userSpaceUpdate.spec.ts
  packages/functions/src/users/onCreate/__tests__/userBatchSet.spec.ts
Due: none

chore: 🤖 fix test all
  packages/functions/src/members/onCreate/__tests__/userSpaceSet.ts
  packages/functions/src/members/onCreate/userSpaceSet.ts
  packages/functions/src/members/onDelete/__tests__/userSpaceDelete.ts
Due: none

chore: 🤖 refactor tesst helpers
  packages/functions/src/__tests__/users.spec.ts
  packages/functions/src/helpers/testHelpers.ts
Due: none

chore: 🤖 implement notification model
  packages/common/src/models/Notification.ts
  packages/common/src/models/Profile.ts
  packages/common/src/models/Space.ts
  packages/common/src/models/User.ts
  packages/functions/src/members/onCreate/__tests__/spaceMemberCountPlus.ts
  packages/functions/src/members/onCreate/index.ts
  packages/functions/src/members/onCreate/spaceMemberCountPlus.ts
  packages/functions/src/members/onDelete/__tests__/spaceMemberCountMinus.ts
  packages/functions/src/members/onDelete/index.ts
  packages/functions/src/members/onDelete/spaceMemberCountMinus.ts
  packages/functions/src/notifications/index.ts
  packages/functions/src/notifications/onCreate/__tests__/notificationCountUpdate.spec.ts
  packages/functions/src/notifications/onCreate/index.ts
  packages/functions/src/notifications/onCreate/notificationCountUpdate.ts
  packages/functions/src/users/onCreate/__tests__/userBatchSet.spec.ts
  packages/functions/src/users/onCreate/userBatchSet.ts
Due: none
