Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

chore: 🤖 add validation hooks
  packages/ui/package.json
  packages/ui/src/components/Auth/Auth.tsx
  yarn.lock
Due: ui

chore: 🤖 fix auth config
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

chore: 🤖 complete initial auth
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

chore: 🤖 add complete transition
  packages/ui/src/components/Snackbar/Snackbar.tsx
Due: ui

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 pioneer
  packages/pioneer/src/day/2020/05/22.md
  packages/pioneer/src/day/2020/05/23.md
Due: none

chore: 🤖 wip
  .eslintrc.json
  packages/common/tsconfig.json
  packages/common/tsconfig.lint.json
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Faq/FaqStyles.ts
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/FeatureCard/FeatureCard.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Footer/FooterStyles.ts
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/PricingCard/PricingCard.tsx
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/Product/ProductStyles.ts
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/ui/tsconfig.lint.json
  packages/web/tsconfig.json
  packages/web/tsconfig.lint.json
Due: ui

chore: 🤖 complete initial props
  packages/ui/src/components/ProTip/ProTip.tsx
  packages/ui/src/components/ProTip/ProTipStyles.ts
  packages/ui/src/components/Section/Section.tsx
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCard.tsx
Due: ui

chore: 🤖 add proper interfaces
  packages/common/src/interfaces/Banner.ts
  packages/common/src/interfaces/Faq.ts
  packages/common/src/interfaces/Feature.ts
  packages/common/src/interfaces/Header.ts
  packages/common/src/interfaces/Pricing.ts
  packages/common/src/interfaces/Product.ts
  packages/common/src/interfaces/Testimonial.ts
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/Product/Product.tsx
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/web/next-env.d.ts
  packages/web/src/components/SentreiBanner.tsx
  packages/web/src/components/SentreiFaq.tsx
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/components/SentreiHeader.tsx
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/components/SentreiSlider.tsx
  packages/web/src/components/SentreiTestimonial.tsx
Due: ui, web

feat: 🎸 complete upgrade props
  packages/common/src/interfaces/Header.ts
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/components/SentreiHeader.tsx
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/components/SentreiTestimonial.tsx
Due: web

chore: 🤖 change to get started now
  packages/web/public/static/locales/en/index.json
Due: none

chore: 🤖 add tslint json
  tsconfig.lint.json
Due: none

chore: 🤖 init screen component
  packages/ui/src/components/Screen/Screen.tsx
  packages/ui/src/components/Screen/ScreenStyles.tsx
  packages/ui/src/components/Screen/index.ts
  packages/ui/src/index.ts
Due: ui

chore: 🤖 add screen index
  packages/ui/src/components/Screen/Screen.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 screen panel feat
  packages/ui/src/components/Screen/Screen.tsx
  packages/ui/src/components/Screen/ScreenStyles.tsx
  packages/ui/src/components/ScreenPanel/ScreenPanel.tsx
  packages/ui/src/components/ScreenPanel/index.ts
  packages/ui/src/index.ts
Due: ui

chore: 🤖 add screen panel
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/ui/src/components/Screen/Screen.tsx
  packages/ui/src/components/Screen/ScreenStyles.tsx
  packages/ui/src/components/ScreenPanel/ScreenPanel.tsx
  packages/ui/src/components/ScreenPanel/ScreenPanelStyles.ts
Due: ui

chore: 🤖 add screen props
  packages/common/src/interfaces/Screen.ts
  packages/ui/src/components/Screen/Screen.tsx
Due: ui

chore: 🤖 escapeout of any
  packages/ui/src/components/Screen/Screen.tsx
Due: ui

feat: 🎸 add initial screen
  packages/ui/src/components/ScreenPanel/ScreenPanel.tsx
  packages/web/src/components/SentreiScreen.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add proper alignment
  packages/web/src/components/SentreiScreen.tsx
Due: web

chore: 🤖 add screen component
  packages/ui/src/components/ScreenPanel/ScreenPanel.tsx
Due: ui

chore: 🤖 add i18n json
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 add actual translation
  packages/web/src/pages/index.tsx
Due: web

fix: 🐛 tilt bug fix
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/ui/src/components/ScreenPanel/ScreenPanel.tsx
Due: ui

chore: 🤖 fix product card
  packages/ui/src/components/ProductCard/ProductCard.tsx
Due: ui

chore: 🤖 checov
  .github/workflows/infrastructure.yml
Due: none

chore: 🤖 change to quiet
  .github/workflows/infrastructure.yml
Due: none

chore: 🤖 disable checkov for now
  .github/workflows/infrastructure.yml
Due: none

feat: 🎸 refactor core sentrei
  .npmrc
  package.json
  packages/pioneer/package.json
  packages/pioneer/src/day/2020/05/23.md
  packages/pioneer/src/day/2020/05/24.md
  packages/ui/src/components/Loader/Loader.tsx
  packages/ui/src/components/Loader/LoaderStyles.ts
  packages/ui/src/components/Loader/index.ts
  packages/ui/src/index.ts
  packages/web/alpha.firebase.json
  packages/web/beta.firebase.json
  packages/web/master.firebase.json
  packages/web/src/components/SentreiMeta.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/privacy.tsx
  packages/web/src/pages/terms.tsx
Due: ui, web

chore: 🤖 complete document ts
  packages/common/src/interfaces/Document.ts
  packages/web/package.json
  packages/web/src/dec.d.ts
  yarn.lock
Due: web

chore: 🤖 wip
  packages/common/package.json
  packages/common/src/dec.d.ts
  packages/common/src/utils/auth/createAuthUserInfo.ts
  packages/common/src/utils/auth/logout.ts
  packages/common/src/utils/auth/setSession.ts
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/common/src/utils/isBrowser.ts
  packages/common/src/utils/isDev.ts
  packages/ui/src/hooks/.gitkeep
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.tsx
  packages/web/src/components/HOC/withAuthUser.tsx
  yarn.lock
Due: ui, web

chore: 🤖 add isomorphic fetch
  packages/common/package.json
  packages/common/src/utils/auth/setSession.ts
Due: none

chore: 🤖 add index ts
  packages/ui/src/hooks/useAuth/index.ts
  packages/ui/src/hooks/useAuth/useAuth.tsx
  packages/ui/src/hooks/useAuthUserInfo/index.ts
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.tsx
Due: ui

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
