Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 update next to 9.4.0
  package.json
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 merge
  package.json
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 revert
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 yaml
  packages/mobile/pubspec.yaml
Due: none

chore: 🤖 changelog
  CHANGELOG.md
Due: none

chore: add image banner
  packages/web/images/banner.png
Due: none

chore: 🤖 add sentry browser implementation
  packages/ui/src/components/Header/Header.tsx
  packages/web/babel.config.js
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/_error.tsx
  packages/web/src/utils/firebase.ts
  packages/web/src/utils/registerExceptionHandler.ts
  packages/web/src/utils/sentry.ts
  yarn.lock
Due: ui, web

update next package
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 add sentry for ssr document
  packages/ui/src/components/Header/Header.tsx
  packages/web/next.config.js
  packages/web/src/pages/_document.tsx
Due: ui, web

chore: 🤖 add next image configuration sets
  packages/ui/src/components/Header/Header.tsx
  packages/web/assets/images/banner.png
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/pages/index.tsx
  packages/web/tsconfig.json
  yarn.lock
Due: ui, web

chore: 🤖 working next config
  packages/web/next.config.js
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 change to public image
  packages/web/public/images/android-chrome-192x192.png
  packages/web/public/images/android-chrome-384x384.png
  packages/web/public/images/apple-touch-icon.png
  packages/web/public/images/banner.png
  packages/web/public/images/browserconfig.xml
  packages/web/public/images/favicon-16x16.png
  packages/web/public/images/favicon-32x32.png
  packages/web/public/images/favicon.ico
  packages/web/public/images/mstile-150x150.png
  packages/web/public/images/placeholder.html
  packages/web/public/images/safari-pinned-tab.svg
  packages/web/public/images/site.webmanifest
  packages/web/src/pages/_document.tsx
Due: web

chore: 🤖 working ui test
  packages/ui/src/components/Header/Header.spec.tsx
  packages/ui/src/components/Header/Header.stories.tsx
Due: ui

chore: 🤖 finish initial next-optimized image package
  packages/mobile/lib/models/user.dart
  packages/mobile/lib/routers/transitions/native_transition.dart
  packages/mobile/lib/routers/transitions/upward_transition.dart
  packages/web/next.config.js
  packages/web/src/pages/index.tsx
Due: mobile, web

chore: 🤖 add master cache
  packages/web/master.firebase.json
Due: none

chore: 🤖 add pioneer packages
  packages/pioneer/src/day/05/13.md
  packages/pioneer/src/week/001.md
Due: none

chore: 🤖 yarn add package.json
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 yarn upgrade latest
  package.json
  yarn.lock
Due: none

chore: 🤖 pass build
  packages/web/src/utils/sentry.ts
Due: web

chore: 🤖 remove yarn export and netlify
  .github/workflows/deploy.yml
  .github/workflows/web.yml
Due: none

[ImgBot] Optimize images
  packages/blog/content/posts/en/2020-05-04/images/hero.jpg
  packages/web/public/images/android-chrome-192x192.png
  packages/web/public/images/android-chrome-384x384.png
  packages/web/public/images/apple-touch-icon.png
  packages/web/public/images/favicon-16x16.png
  packages/web/public/images/favicon-32x32.png
  packages/web/public/images/mstile-150x150.png
Due: none

chore: 🤖 remove netlify completely
  .github/workflows/deploy.yml
  .gitignore
  packages/web/package.json
Due: none

chore: 🤖 update pioneer day
  packages/pioneer/src/day/05/13.md
Due: none

chore: 🤖 update day week
  packages/pioneer/src/.vuepress/scripts/day.js
  packages/pioneer/src/day/2020/05/13.md
  yarn.lock
Due: none

fix: 🐛 add vuepress config
  packages/pioneer/src/.vuepress/config.js
  packages/pioneer/src/.vuepress/scripts/day.js
  packages/pioneer/src/.vuepress/scripts/week.js
Due: none

chore: yarn upgrade --latest
  lerna.json
  packages/mobile/pubspec.lock
  packages/ui/package.json
  yarn.lock
Due: none

chore: yarn
  lerna.json
Due: none

fix: fix pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: yarn update deps
  packages/ui/package.json
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Due: none

chore: remove gif
  packages/web/next.config.js
Due: none

fix: 🐛 docker build
  Dockerfile
  yarn.lock
Due: none

chore: 🤖 yarn
  yarn.lock
Due: none
