Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

feat: 🎸 add spyscroll tabs
  packages/ui/src/components/Header/Header.tsx
  packages/web/package.json
  packages/web/src/pages/index.tsx
  yarn.lock
Due: ui, web

chore: 🤖 add package json
  packages/ui/package.json
Due: none

[sentrei-auto-fix]
  packages/ui/src/components/Header/Header.tsx
Due: ui

feat: 🎸 add particle component
  packages/ui/package.json
  packages/ui/src/components/Particle/Particle.tsx
  packages/ui/src/components/Particle/index.ts
  yarn.lock
Due: ui

chore: 🤖 add particle tsx
  packages/ui/src/components/Particle/Particle.spec.tsx
  packages/ui/src/components/Particle/Particle.stories.tsx
Due: ui

chore: 🤖 add particle component
  packages/ui/src/components/Particle/Particle.tsx
  packages/ui/src/containers/LandingStyles/LandingStyles.ts
  packages/ui/src/containers/LandingStyles/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

[sentrei-auto-fix]
  packages/ui/src/components/Particle/Particle.tsx
Due: ui

chore: 🤖 fix first input delay
  packages/web/src/pages/_document.tsx
Due: web

fix: 🐛 reafactor figma design devops
  .github/workflows/figma.yml
  package.json
Due: none

[sentrei-auto-fix]
  design/figma/const/data.json
  design/figma/mobile/data.json
  design/figma/web/data.json
Due: none

[ImgBot] Optimize images
  design/figma/const/png/Colours Black.png
  design/figma/const/png/Colours Blue.png
  design/figma/const/png/Colours Primary.png
  design/figma/const/png/Colours White.png
  design/figma/const/png/GradientBgs Ocean.png
  design/figma/const/png/GradientBgs Passion.png
  design/figma/const/png/GradientBgs Tropical.png
  design/figma/const/png/Text Heading.png
  design/figma/mobile/png/Onboarding Button.png
  design/figma/mobile/png/Progress Dot.png
  design/figma/web/png/Corporation.png
  packages/design/src/.vuepress/public/upload/photo-1490013616775-3ca8865fb129.jpeg
Due: none

fix: 🐛 same git commiter
  .github/workflows/figma.yml
  .github/workflows/release.yml
Due: none

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix: 🐛 add favicon ico
  packages/web/public/android-chrome-192x192.png
  packages/web/public/android-chrome-384x384.png
  packages/web/public/apple-touch-icon.png
  packages/web/public/browserconfig.xml
  packages/web/public/favicon-16x16.png
  packages/web/public/favicon-32x32.png
  packages/web/public/favicon.ico
  packages/web/public/mstile-150x150.png
  packages/web/public/safari-pinned-tab.svg
  packages/web/public/site.webmanifest
  packages/web/src/pages/_document.tsx
Due: web

[sentrei-auto-fix]
  packages/web/public/site.webmanifest
Due: none

fix: 🐛 publish package npm
  package.json
Due: none

chore: 🤖 add yarn publish
  package.json
Due: none

chore: 🤖 private
  .github/workflows/infrastructure.yml
  package.json
Due: none

chore: 🤖 elrna
  package.json
Due: none

chore: 🤖 add cat jq
  .github/workflows/release.yml
Due: none

chore: 🤖 fix
  .github/workflows/release.yml
Due: none

fix: 🐛 release
  .github/workflows/release.yml
  package.json
Due: none

chore: 🤖 git reset package.json
  .github/workflows/release.yml
Due: none

fix: 🐛 npm
  .github/workflows/release.yml
Due: none

feat: 🎸 add custom error
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/pages/_error.tsx
Due: ui, web

chore: 🤖 change naming to error
  packages/web/src/pages/_error.tsx
Due: web

fix: 🐛 add error reporting
  packages/web/src/pages/_error.tsx
  packages/web/src/utils/sentry.ts
Due: web

chore: 🤖 remove error button
  packages/web/src/pages/_error.tsx
Due: web

fix: 🐛 add banner image
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/pages/_error.tsx
  yarn.lock
Due: web

[sentrei-auto-fix]
  packages/web/next.config.js
Due: none

chore: 🤖 add img logo
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add dev container
  .devcontainer/devcontainer.json
Due: none

chore: 🤖 add dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
