Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

chore: 🤖 refactor
  .github/workflows/zenhub.yml
Due: none

chore: 🤖 wip
  .github/workflows/auto-merge.yml
  .github/workflows/zenhub.yml
Due: none

chore: 🤖 wip
  .github/workflows/auto-merge.yml
Due: none

chore: 🤖 work
  .github/workflows/zenhub.yml
Due: none

chore: 🤖 disable auto merge
  .github/workflows/auto-merge.yml
Due: none

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

Delete auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

Update zenhub.yml
  .github/workflows/zenhub.yml
Due: none

feat: 🎸 delete users onDelete
  packages/functions/src/users/index.ts
  packages/functions/src/users/onDelete/index.ts
  packages/functions/src/users/onDelete/userBatchDelete.ts
Due: none

fix: 🐛 delete analytics action
  packages/functions/src/analytics/onDelete/statsMinus.ts
Due: none

feat: 🎸 add space create
  packages/common/src/const/index.ts
  packages/common/src/context/GlobalContext.tsx
  packages/common/src/interfaces/ImageUpload.ts
  packages/common/src/models/GlobalState.ts
  packages/common/src/models/Space.ts
  packages/common/src/services/upload.ts
  packages/functions/package.json
  packages/ui/src/components/ImageUpload/ImageUpload.tsx
  packages/ui/src/components/ImageUpload/ImageUploadStyles.ts
  packages/ui/src/components/ImageUpload/index.ts
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpaceCreate/SpaceCreateStyles.ts
  packages/ui/src/components/SpaceCreate/index.ts
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
  packages/ui/src/components/SpaceForm/index.ts
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/create.tsx
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/reset-password.tsx
Due: ui, web

chore: 🤖 add no space list
  packages/common/src/interfaces/SpaceForm.ts
  packages/common/src/interfaces/SpaceList.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppHeader/AppHeaderStyles.ts
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
  packages/ui/src/components/SpaceList/SpaceList.tsx
  packages/ui/src/components/SpaceList/SpaceListStyles.ts
  packages/ui/src/components/SpaceList/index.ts
  packages/web/src/pages/dashboard.tsx
Due: ui, web

chore: 🤖 wip
  packages/common/src/interfaces/SpaceForm.ts
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
  packages/web/src/pages/[id]/index.tsx
Due: ui, web

chore: 🤖 wip image upload
  packages/common/src/interfaces/SpaceForm.ts
  packages/ui/src/components/ImageUpload/ImageUpload.tsx
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
Due: ui

chore: 🤖 add space list
  packages/ui/src/components/SpaceList/SpaceList.tsx
Due: ui

chore: 🤖 add space none
  packages/ui/src/components/SpaceList/SpaceList.tsx
  packages/ui/src/components/SpaceNone/SpaceNone.tsx
  packages/ui/src/components/SpaceNone/SpaceNoneStyles.ts
  packages/ui/src/components/SpaceNone/index.ts
Due: ui

chore: 🤖 pioneer
  packages/common/src/interfaces/SpaceList.ts
  packages/pioneer/src/day/2020/06/10.md
  packages/pioneer/src/day/2020/06/11.md
  packages/pioneer/src/day/2020/06/12.md
  packages/pioneer/src/day/2020/06/13.md
  packages/pioneer/src/day/2020/06/14.md
  packages/ui/src/components/SpaceList/SpaceList.tsx
  packages/web/src/pages/dashboard.tsx
Due: ui, web

chore: 🤖 working space id
  packages/common/src/interfaces/SpaceDashboard.ts
  packages/common/src/interfaces/SpacePanel.ts
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/ui/src/components/SpaceDashboard/index.ts
  packages/ui/src/components/SpaceList/SpaceListStyles.ts
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanel/SpacePanelStyles.ts
  packages/ui/src/components/SpacePanel/index.ts
  packages/web/src/pages/[id]/index.tsx
  packages/web/src/pages/dashboard.tsx
Due: ui, web

chore: 🤖 add member list
  packages/common/src/interfaces/SpacePanel.ts
  packages/common/src/models/Member.ts
  packages/common/src/serializers/Member.ts
  packages/common/src/services/members.ts
  packages/ui/src/components/SpaceList/SpaceList.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/hooks/useLoadMore/useLoadMore.tsx
Due: ui

chore: 🤖 add initial space panel
  .eslintrc.json
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
Due: ui

chore: 🤖 update git config
  .github/workflows/sync.yml
  .github/workflows/yarn.yml
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
Due: ui

chore: 🤖 update milestone 8
  .github/workflows/milestone.yml
Due: none

chore: 🤖 add skeleton avatar
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
Due: ui

chore: 🤖 add space card
  packages/common/src/interfaces/SpaceScreen.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppHeader/AppHeaderStyles.ts
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceCard/SpaceCardStyles.ts
  packages/ui/src/components/SpaceCard/index.ts
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/ui/src/components/SpaceDashboard/SpaceDashboardStyles.ts
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreenStyles.ts
  packages/ui/src/components/SpaceScreen/index.ts
Due: ui

chore: 🤖 add link to card action area
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
Due: ui

fix: 🐛 typing animation stutter
  packages/ui/package.json
  packages/ui/src/components/Typical/Typical.tsx
  packages/ui/src/dec.d.ts
  yarn.lock
Due: ui

fix: 🐛 perfect react typical (typist)
  packages/ui/src/components/Typical/Typical.tsx
Due: ui

chore: 🤖 wip
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/ui/src/components/Typical/Typical.tsx
Due: ui

chore: 🤖 wip
  packages/common/src/interfaces/Logo.ts
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/Logo/Logo.tsx
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceCard/SpaceCardStyles.ts
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/ui/src/components/SpaceDashboard/SpaceDashboardStyles.ts
Due: ui

chore: 🤖 wip
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
  packages/ui/src/components/SpaceDashboard/SpaceDashboardStyles.ts
Due: ui

fix: 🐛 working member menu and dialog
  packages/common/src/interfaces/MemberDialog.ts
  packages/common/src/interfaces/MemberMenu.ts
  packages/common/src/interfaces/SpaceDashboard.ts
  packages/ui/src/components/MemberDialog/MemberDialog.tsx
  packages/ui/src/components/MemberDialog/index.ts
  packages/ui/src/components/MemberMenu/MemberMenu.tsx
  packages/ui/src/components/MemberMenu/index.ts
  packages/ui/src/components/SpaceCard/SpaceCard.tsx
  packages/ui/src/components/SpaceDashboard/SpaceDashboard.tsx
Due: ui

feat: 🎸 complete space create flow
  packages/ui/src/components/MemberDialog/MemberDialog.tsx
  packages/ui/src/components/SpaceCreate/SpaceCreateStyles.ts
  packages/ui/src/components/SpaceNone/SpaceNoneStyles.ts
  packages/web/src/pages/dashboard.tsx
Due: ui, web

fix: 🐛 test lint fix
  packages/blog/src/@narative/gatsby-theme-novela/components/Logo/Logo.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/SpaceCard/SpaceCardStyles.ts
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
  packages/ui/src/components/SpaceList/SpaceList.tsx
  packages/ui/src/components/SpaceList/SpaceListStyles.ts
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/profile.tsx
Due: ui, web

refactor: 💡 remove space screen
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreenStyles.ts
  packages/ui/src/components/SpaceScreen/index.ts
Due: ui

chore: 🤖 add token and ref
  .github/workflows/yarn.yml
Due: none

chore: 🤖 access token invoke
  .github/workflows/yarn.yml
Due: none

chore: 🤖 add fetch-depth 0
  .github/workflows/sync.yml
  .github/workflows/yarn.yml
Due: none

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
