Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

feat: 🎸 add product shadow
  packages/ui/package.json
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/ui/src/components/ProductCard/ProductCardStyles.ts
  yarn.lock
Due: ui

chore: 🤖 upgrade drop shadow
  packages/ui/src/components/ProductCard/ProductCardStyles.ts
Due: ui

chore: 🤖 update lint fix
  packages/ui/src/components/ProductCard/ProductCard.tsx
Due: ui

[sentrei-auto-fix]
  packages/ui/package.json
Due: none

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 add landing translatioin
  packages/pioneer/src/day/2020/05/19.md
  packages/pioneer/src/day/2020/05/20.md
Due: none

chore: 🤖 update
  packages/ui/src/components/Product/Product.tsx
Due: ui

chore: 🤖 added proper images
  packages/ui/src/components/Product/Product.tsx
  packages/web/public/images/connect.svg
  packages/web/public/images/data.svg
  packages/web/src/components/Picture/ConnectPicture.tsx
  packages/web/src/components/Picture/DataPicture.tsx
  packages/web/src/components/Picture/LogoPicture.tsx
  packages/web/src/components/SentreiProduct.tsx
Due: ui, web

chore: 🤖 upgrade sentrei banner
  packages/ui/src/components/Banner/Banner.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/SentreiBanner.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 added keys for rerender prevent
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/src/components/SentreiBanner.tsx
  packages/web/src/components/SentreiHeader.tsx
  packages/web/src/components/SentreiProduct.tsx
Due: ui, web

[sentrei-auto-fix]
  packages/ui/src/components/ProductCard/ProductCard.tsx
Due: ui

chore: 🤖 banner i18n complete
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Banner/BannerStyles.ts
  packages/ui/src/components/ProductCard/ProductCard.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
Due: ui

chore: 🤖 complete product i18n
  packages/ui/src/components/Product/Product.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/src/components/SentreiProduct.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 upgrade header component
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

chore: 🤖 upgrade svg picture
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/FeatureCard/FeatureCard.tsx
  packages/ui/src/components/FeatureCard/FeatureCardStyles.ts
  packages/ui/src/components/Header/Header.tsx
  packages/web/public/images/focus.svg
  packages/web/public/images/time.svg
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/Picture/ConnectPicture.tsx
  packages/web/src/components/Picture/FocusPicture.tsx
  packages/web/src/components/Picture/LogoPicture.tsx
  packages/web/src/components/Picture/TimePicture.tsx
  packages/web/src/components/Picture/VideoPicture.tsx
  packages/web/src/components/SentreiFeature.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add flext for item align
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/FeatureCard/FeatureCard.tsx
  packages/ui/src/components/FeatureCard/FeatureCardStyles.ts
  packages/web/public/images/goal.svg
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/Picture/GoalPicture.tsx
  packages/web/src/components/SentreiFeature.tsx
Due: ui, web

feat: 🎸 upgrade testimonial i18n
  packages/ui/src/components/FeatureCard/FeatureCardStyles.ts
  packages/ui/src/components/Testimonial/Testimonial.tsx
  packages/ui/src/components/TestimonialCard/TestimonialCard.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/SentreiTestimonial.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 wip
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/Pricing/PricingStyles.tsx
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 complete initial pricing
  packages/ui/src/components/Pricing/Pricing.tsx
  packages/ui/src/components/PricingCard/PricingCard.tsx
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/SentreiPricing.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

feat: 🎸 complete faq i18n
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Faq/FaqStyles.ts
  packages/ui/src/components/FeatureCard/FeatureCard.tsx
  packages/ui/src/components/FeatureCard/FeatureCardStyles.ts
  packages/web/public/static/locales/en/index.json
  packages/web/src/components/SentreiFaq.tsx
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 complete footer component
  packages/ui/src/components/Footer/Footer.tsx
Due: ui

chore: 🤖 complete font tweight
  packages/ui/src/components/Faq/FaqStyles.ts
Due: ui

chore: 🤖 remove cypress dashboard
  packages/web/package.json
Due: none

[ImgBot] Optimize images
  packages/blog/content/posts/en/2020-05-04/images/hero.jpg
  packages/web/public/images/feature.png
Due: none

feat: 🎸 add i18n lang
  packages/pioneer/src/day/2020/05/20.md
  packages/pioneer/src/day/2020/05/21.md
  packages/web/public/static/locales/en/index.json
  packages/web/public/static/locales/ja/index.json
  packages/web/public/static/locales/zh/index.json
Due: none

feat: 🎸 add header mobile
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
Due: ui

chore: 🤖 upgrade feature style
  packages/ui/src/components/Feature/Feature.tsx
  packages/ui/src/components/Feature/FeatureStyles.ts
  packages/ui/src/components/FeatureCard/FeatureCardStyles.ts
Due: ui

chore: 🤖 complete button styling
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Banner/BannerStyles.ts
Due: ui

chore: 🤖 remove unused badge
  packages/ui/src/components/Header/Header.tsx
Due: ui

feat: 🎸 add signin page
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Signin/Signin.tsx
  packages/ui/src/components/Signin/SigninStyles.tsx
  packages/ui/src/components/Signin/index.ts
  packages/ui/src/index.ts
  packages/web/package.json
  packages/web/src/pages/signin/index.tsx
  yarn.lock
Due: ui, web

chore: 🤖 complete add signin
  packages/ui/src/components/Header/Header.tsx
  packages/web/src/components/SentreiHeader.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/signin/index.tsx
Due: ui, web

feat: 🎸 refactor to common utils
  packages/common/package.json
  packages/common/src/utils/firebase.ts
  packages/common/src/utils/isBrowser.ts
  packages/common/src/utils/nprogress.ts
  packages/common/src/utils/registerExceptionHandler.ts
  packages/common/src/utils/sentry.ts
  packages/common/tsconfig.json
  packages/ui/src/components/Signin/Signin.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/tsconfig.json
Due: ui, web

feat: 🎸 add signin page
  packages/ui/package.json
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Signin/Signin.tsx
  packages/ui/src/components/Signin/SigninStyles.tsx
  yarn.lock
Due: ui

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
