Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

chore: 🤖 package
  packages/ui/package.json
Due: none

chore: 🤖 add , remove
  packages/ui/package.json
Due: none

chore: 🤖 add typescript gha
  .github/workflows/ui.yml
  .github/workflows/web.yml
  Dockerfile
  package.json
Due: none

chore: 🤖 add ui testing storybook
  packages/ui/src/Copyright/Copyright.spec.tsx
  packages/ui/src/Copyright/Copyright.stories.tsx
  packages/ui/src/ProTip/ProTip.spec.tsx
  packages/ui/src/ProTip/ProTip.stories.tsx
Due: ui

chore: 🤖 ignore spec and stories
  packages/ui/jest.config.js
Due: none

chore: 🤖 fix dot files
  .codecov.yml
  packages/web/.firebaserc
  packages/web/master.firebase.json
Due: none

chore: 🤖 improved imports nextjs
  packages/ui/tsconfig.json
  packages/web/tsconfig.json
Due: none

fix: 🐛 add types for next.js with mui
  .eslintrc.json
  packages/ui/src/Theme/Theme.tsx
  packages/ui/src/Theme/index.ts
  packages/ui/src/index.ts
  packages/web/cypress/integration/spec.ts
  packages/web/next-env.d.ts
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
Due: ui, web

chore: 🤖 add about and index
  packages/web/src/pages/about.tsx
Due: web

chore: 🤖 fix
  tsconfig.build.json
Due: none

Update about.tsx
  packages/web/src/pages/about.tsx
Due: web

Update index.tsx
  packages/web/src/pages/index.tsx
Due: web

[sentrei-auto-fix]
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Due: web

fix: 🐛 add link component
  .eslintrc.json
  packages/ui/package.json
  packages/ui/src/Link/Link.spec.tsx
  packages/ui/src/Link/Link.stories.tsx
  packages/ui/src/Link/Link.tsx
  packages/ui/src/Link/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
  yarn.lock
Due: ui, web

[sentrei-auto-fix]
  packages/ui/src/Link/Link.spec.tsx
  packages/ui/src/Link/Link.stories.tsx
Due: ui

fix: 🐛 release workflow gha
  .github/workflows/release.yml
Due: none

chore: 🤖 fastlane cmd gha
  .github/workflows/deliver.yml
  .github/workflows/deploy.yml
  .github/workflows/fastlane.yml
  .github/workflows/figma.yml
  .github/workflows/gcr.yml
  .github/workflows/lgtm.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  .github/workflows/test.yml
Due: none

chore: 🤖 add correct deploy command gha
  .github/workflows/deploy.yml
Due: none

fix: 🐛 refactor tsconfig settings
  package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/web/tsconfig.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: none

fix: 🐛 fix web title
  packages/web/src/pages/_app.tsx
Due: web

chore: 🤖 add labeler enforce
  .github/labeler.yml
  .github/workflows/enforce.yml
  .github/workflows/labeler.yml
  .mergify/config.yml
Due: none

chore: 🤖 add labeler enforce
  .github/labeler.yml
  .github/workflows/enforce.yml
Due: none

chore: 🤖 add proper labels
  .github/labeler.yml
  .github/workflows/enforce.yml
  infrastructure/modules/github/sentrei.tf
Due: none

chore: 🤖 add labeler action
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/enforce.yml
Due: none

chore: 🤖 add enforce gha
  .github/workflows/enforce.yml
Due: none

chore: 🤖 add react helmet
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 needs ready-to-merge label
  .github/workflows/enforce.yml
Due: none

chore: 🤖 add ready merge
  .github/workflows/enforce.yml
Due: none

Update enforce.yml
  .github/workflows/enforce.yml
Due: none

chore: 🤖 add enforce dispatch
  .github/chatops.json
  .github/workflows/chatops.yml
  .github/workflows/deliver.yml
  .github/workflows/enforce.yml
Due: none

chore: 🤖 remove lgtm action
  .github/workflows/chatops.yml
Due: none

chore: 🤖 add proper pr
  .github/workflows/enforce.yml
Due: none

chore: 🤖 add repo owner
  .github/workflows/auto-approve.yml
  .github/workflows/deploy.yml
  .github/workflows/lgtm.yml
Due: none

Revert "chore: 🤖 remove lgtm action"
  .github/workflows/chatops.yml
Due: none

chore: 🤖 revert to context
  .github/workflows/auto-approve.yml
  .github/workflows/deploy.yml
  .github/workflows/lgtm.yml
Due: none

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
