Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

feat: 🎸 complete refactor global
  packages/pioneer/src/day/2020/06/02.md
  packages/pioneer/src/day/2020/06/03.md
  packages/pioneer/src/week/2020/03.md
Due: none

chore: 🤖 add 2020 06
  packages/pioneer/src/.vuepress/config.js
Due: none

chore: 🤖 wip
  packages/common/src/interfaces/Profile.ts
  packages/common/src/models/GlobalState.ts
  packages/common/src/services/logIPAddress.ts
  packages/common/src/utils/auth/createAuthUserInfo.ts
  packages/common/src/utils/firebase.ts
  packages/common/src/utils/initFirebase.ts
  packages/common/tsconfig.json
  packages/ui/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/ui/src/components/ErrorBoundary/index.ts
  packages/ui/src/context/AuthUserInfoContext/AuthUserInfoContext.ts
  packages/ui/src/context/AuthUserInfoContext/index.ts
  packages/ui/src/hooks/useAuthUserInfo/index.ts
  packages/ui/src/hooks/useAuthUserInfo/useAuthUserInfo.ts
  packages/web/src/components/HOC/GlobalContext.tsx
  packages/web/src/components/HOC/withAuth.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/privacy.tsx
  packages/web/src/pages/profile.tsx
  packages/web/src/pages/reset-password.tsx
  packages/web/src/pages/signup.tsx
  packages/web/src/pages/terms.tsx
Due: ui, web

chore: 🤖 add signin features
  packages/common/package.json
  packages/common/src/context/GlobalContext.tsx
  packages/common/src/services/signin.ts
  packages/common/src/services/signinWithGoogle.ts
  packages/common/src/utils/auth/createAuthUser.ts
  packages/common/src/utils/auth/handleLogout.ts
  packages/common/src/utils/auth/signInWithGoogle.ts
  packages/functions/package.json
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/profile.tsx
  packages/web/src/pages/signup.tsx
Due: ui, web

chore: 🤖 login
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/login.tsx
Due: web

chore: 🤖 add logip address
  packages/common/src/services/logIPAddress.ts
  packages/web/src/pages/_app.tsx
Due: web

chore: 🤖 tsconfig
  packages/common/src/services/logIPAddress.ts
  packages/common/tsconfig.json
Due: none

fix: 🐛 upgrade to 14.4.0
  .github/workflows/deploy.yml
  .github/workflows/functions.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  Makefile
Due: none

chore: 🤖 pioneer
  packages/pioneer/src/day/2020/06/03.md
  packages/pioneer/src/day/2020/06/04.md
  packages/pioneer/src/week/2020/04.md
Due: none

chore: 🤖 working user in render
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/index.tsx
Due: web

chore: 🤖 add integrations 8080
  packages/common/src/utils/firebase.ts
  packages/web/src/pages/_app.tsx
Due: web

chore: 🤖 update app tsx
  packages/web/src/pages/_app.tsx
Due: web

fix: 🐛 working emulator docker
  packages/functions/alpha.firebase.json
  packages/functions/beta.firebase.json
  packages/functions/master.firebase.json
  packages/functions/package.json
Due: none

chore: 🤖 update
  .devcontainer/docker-compose.yml
  packages/common/src/services/logIPAddress.ts
  packages/functions/package.json
  yarn.lock
Due: none

chore: 🤖 update tsconfig
  packages/common/tsconfig.json
Due: none

feat: 🎸 add firebase service agents and module
  .vscode/settings.json
  infrastructure/environments/alpha/main.tf
  infrastructure/environments/beta/main.tf
  infrastructure/environments/master/main.tf
  infrastructure/modules/firebase/firebase.tf
  infrastructure/modules/iam/functions.tf
Due: none

chore: 🤖 add project data
  infrastructure/modules/firebase/firebase.tf
Due: none

chore: 🤖 fix
  infrastructure/modules/firebase/main.tf
Due: none

chore: 🤖 add firebase module
  infrastructure/environments/alpha/main.tf
  infrastructure/environments/beta/main.tf
  infrastructure/environments/master/main.tf
  infrastructure/modules/firebase/firebase.tf
  infrastructure/modules/firebase/variables.tf
Due: none

chore: 🤖 tmp disable firebase
  infrastructure/environments/alpha/main.tf
  infrastructure/environments/beta/main.tf
  infrastructure/environments/master/main.tf
Due: none

fix: 🐛 change to relative in functions module
  packages/functions/package.json
  packages/functions/src/users/onCreate/setupProfile.ts
Due: none

feat: 🎸 upgrade functions system
  packages/common/src/services/logIPAddress.ts
  packages/functions/src/index.ts
Due: none

chore: 🤖 remove comment
  packages/functions/src/index.ts
Due: none

chore: 🤖 rm tmp tscpaths
  packages/functions/package.json
Due: none

chore: 🤖 remove export default
  packages/functions/src/users/onCreate/index.ts
  packages/functions/src/users/onCreate/setupProfile.ts
Due: none

chore: 🤖 add ondelete function
  packages/functions/src/users/index.ts
  packages/functions/src/users/onDelete/deleteUser.ts
  packages/functions/src/users/onDelete/index.ts
Due: none

chore: 🤖 change name
  packages/functions/src/users/onDelete/deleteUser.ts
Due: none

chore: 🤖 add profiles rules
  packages/functions/firestore/firestore.rules
Due: none

chore: 🤖 change name export
  .vscode/settings.json
  packages/functions/src/users/onCreate/__tests__/setupProfile.spec.ts
Due: none

chore: 🤖 add iam functions
  infrastructure/modules/iam/appspot.tf
Due: none

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
