Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

feat: 🎸 add blog feat
  infrastructure/modules/dns/blog.tf
  packages/blog/firebase.json
Due: none

[ImgBot] Optimize images
  assets/figma-badge.jpeg
  packages/blog/content/authors/avatars/shunkakinoki.png
  packages/blog/content/posts/en/2020-05-04/images/hero.jpg
  packages/blog/src/assets/favicon.png
  packages/design/src/.vuepress/public/upload/photo-1490013616775-3ca8865fb129.jpeg
  packages/design/src/.vuepress/public/upload/photo-1504198322253-cfa87a0ff25f.jpeg
  packages/design/src/.vuepress/public/upload/photo-1516906736502-5d3fedc3019a.jpeg
Due: none

fix: 🐛 invoke blog deploy
  .github/workflows/release.yml
Due: none

chore: 🤖 add change id
  .github/workflows/mobile.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
Due: none

chore: 🤖 unnecessary head ref
  .github/workflows/ui.yml
  .github/workflows/web.yml
Due: none

chore: 🤖 add proper labels
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/deploy.yml
  .mergify/config.yml
Due: none

chore: 🤖 add ui
  .github/workflows/ui.yml
Due: none

chore: 🤖 add module alias
  packages/web/next.config.js
  packages/web/src/pages/_app.tsx
  packages/web/tsconfig.json
Due: web

[sentrei-auto-fix]
  packages/web/tsconfig.json
Due: none

chore: 🤖 change build path
  packages/web/tsconfig.json
Due: none

chore: 🤖 add issue assign
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 add issue assign
  .github/workflows/issue.yml
Due: none

feat: 🎸 add nprogress loading
  packages/web/package.json
  packages/web/src/pages/_app.tsx
  packages/web/src/styles/progress.scss
  packages/web/src/utils/progress.ts
  yarn.lock
Due: web

chore: 🤖 change to nprogress
  packages/web/src/pages/_app.tsx
  packages/web/src/styles/nprogress.scss
  packages/web/src/utils/nprogress.ts
Due: web

chore: 🤖 add blog json
  README.md
Due: none

fix: 🐛 add navbar for mui component
  packages/ui/src/components/NavBar/NavBar.spec.tsx
  packages/ui/src/components/NavBar/NavBar.stories.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/components/NavBar/index.ts
Due: ui

chore: 🤖 refactor index ts
  packages/ui/src/index.ts
Due: ui

chore: 🤖 add css baseline
  packages/web/src/pages/_app.tsx
Due: web

chore: 🤖 add responsive typography
  packages/ui/src/containers/Theme/Theme.tsx
Due: ui

chore: 🤖 add proper footer
  packages/ui/src/components/Footer/Footer.spec.tsx
  packages/ui/src/components/Footer/Footer.stories.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Footer/index.ts
  packages/ui/tsconfig.json
  packages/web/tsconfig.json
Due: ui

chore: 🤖 add release ui
  .github/workflows/release.yml
Due: none

chore: 🤖 add footer and navbar components
  packages/ui/tsconfig.json
  packages/web/src/pages/index.tsx
Due: web

[sentrei-auto-fix]
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/index.tsx
  packages/web/tsconfig.json
Due: ui, web

chore: 🤖 add next config
  packages/ui/.storybook/webpack.config.js
  packages/ui/package.json
  packages/web/next.config.js
Due: none

chore: 🤖 upgrade next config
  packages/web/next.config.js
Due: none

chore: 🤖 add return type
  packages/ui/src/components/Footer/Footer.tsx
Due: ui

[sentrei-auto-fix]
  packages/ui/.storybook/webpack.config.js
Due: none

chore: 🤖 add module name mapper for jest
  packages/ui/jest.config.js
Due: none

chore: 🤖 add test config
  packages/ui/tsconfig.test.json
Due: none

[sentrei-auto-fix]
  packages/ui/jest.config.js
Due: none

chore: 🤖 add compiler options
  packages/ui/tsconfig.test.json
Due: none

fix: 🐛 add landing component
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Landing/Landing.spec.tsx
  packages/ui/src/components/Landing/Landing.stories.tsx
  packages/ui/src/components/Landing/Landing.tsx
  packages/ui/src/components/Landing/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Due: ui, web

chore: 🤖 add company readme
  README.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: 🤖 set dist tag
  .github/workflows/release.yml
  package.json
Due: none

chore: 🤖 no pr status
  packages/ui/regconfig.json
Due: none

fix: 🐛 migrate to fetch-depth 0 github actions
  .github/workflows/deploy.yml
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
Due: none

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
