Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

.codecov.yml:

coverage:
  precision: 3
  status:
    project: false
    patch: false
flags:
  mobile:
    paths:
      - packages/mobile/lib
    carryforward: false
  ui:
    paths:
      - packages/ui/src
    carryforward: false
  web:
    paths:
      - packages/web/src
    carryforward: false
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

feat: add auth v3
  packages/common/src/models/spaceModel.ts
  packages/common/src/models/userModel.ts
  packages/common/src/utils/auth/loginRedirect.ts
  packages/ui/src/context/AuthUserInfoContext/AuthUserInfoContext.ts
  packages/web/package.json
  packages/web/src/components/HOC/withAuth.tsx
  packages/web/src/components/HOC/withAuthGuard.tsx
  packages/web/src/components/HOC/withAuthUserInfo.tsx
  packages/web/src/components/HOC/withReduxStore.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/profile.tsx
  packages/web/src/pages/spaces.tsx
  packages/web/src/state/initializeStore.ts
  yarn.lock
Due: ui, web

fix: upgrade build cmd
  package.json
Due: none

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

feat: refactor cookie all
  packages/common/src/utils/firebaseSessionHandler.ts
  packages/ui/src/hooks/useFirebaseAuth/useFirebaseAuth.ts
  packages/web/package.json
  packages/web/src/components/HOC/withAuthUser.tsx
  packages/web/src/components/HOC/withAuthUserInfo.tsx
  packages/web/src/components/HOC/withReduxStore.tsx
  packages/web/src/middleware/commonMiddleware.ts
  packages/web/src/middleware/cookieSession.ts
  packages/web/src/middleware/cookieSessionRefresh.ts
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/api/login.ts
  packages/web/src/pages/api/logout.ts
  packages/web/src/pages/index.tsx
  packages/web/src/state/initializeStore.ts
  yarn.lock
Due: ui, web

chore: upgrade app redux
  packages/web/src/pages/_app.tsx
Due: web

chore: <any,any> for NextApp
  packages/web/src/pages/_app.tsx
Due: web

fix: ignore engines yarnrc
  .gitignore
  .yarnrc
Due: none

fix: actual yarn refactoring
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  packages/web/Dockerfile
Due: none

chore: refactor
  .vscode/settings.json
  packages/pioneer/src/day/2020/05/25.md
  packages/pioneer/src/day/2020/05/26.md
  packages/pioneer/src/day/2020/05/27.md
  packages/web/babel.config.js
  packages/web/cypress/plugins/index.js
  packages/web/cypress/tsconfig.json
Due: none

[sentrei-auto-fix]
  .vscode/settings.json
Due: none

chore: comment out cypress
  packages/web/cypress/plugins/index.js
Due: none

feat: add rooms component
  packages/ui/package.json
  packages/ui/src/components/Room/Room.tsx
  packages/ui/src/components/Room/RoomStyles.ts
  packages/ui/src/components/Room/index.ts
  packages/web/package.json
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/rooms.tsx
  yarn.lock
Due: ui, web

[sentrei-auto-fix]
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: add reference comment
  packages/ui/src/components/Room/Room.tsx
  packages/web/src/pages/rooms.tsx
Due: ui, web

chore: update eslintrc json
  .eslintrc.json
Due: none

chore: update docker-compose ports
  .devcontainer/docker-compose.yml
Due: none

feat: add signin google
  packages/common/src/utils/auth/signInWithGoogle.ts
  packages/ui/src/components/Banner/Banner.tsx
Due: ui

feat: complete intial signin
  packages/common/src/utils/auth/signInWithGoogle.ts
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Auth/AuthStyles.ts
  packages/ui/src/hooks/useFirebaseAuth/useFirebaseAuth.ts
  packages/web/src/pages/dashboard.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/signup.tsx
Due: ui, web

feat: add withUserGuard HOC
  packages/web/src/components/HOC/withUserGuard.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/login.tsx
  packages/web/src/pages/signup.tsx
Due: web

chore: packages workspaces all
  package.json
Due: none

chore: typescript scope add
  package.json
Due: none

chore: 🤖 update yarn lock
  package.json
  yarn.lock
Due: none

fix: 🐛 correct typescript error
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Banner/Banner.tsx
Due: ui

feat: 🎸 add privacy terms
  packages/web/src/pages/privacy.tsx
  packages/web/src/pages/terms.tsx
Due: web

feat: 🎸 add app header
  .vscode/settings.json
  packages/common/src/interfaces/AppHeader.ts
  packages/common/src/interfaces/Logo.ts
  packages/common/src/utils/auth/handleLogout.ts
  packages/common/src/utils/auth/logout.ts
  packages/pioneer/src/day/2020/05/27.md
  packages/pioneer/src/day/2020/05/28.md
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppHeader/AppHeaderStyles.ts
  packages/ui/src/components/AppHeader/index.ts
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Logo/Logo.tsx
  packages/ui/src/components/Logo/LogoStyles.ts
  packages/ui/src/components/Logo/index.ts
  packages/ui/src/index.ts
  packages/web/src/components/SentreiAppHeader.tsx
  packages/web/src/pages/dashboard.tsx
Due: ui, web

[sentrei-auto-fix]
  packages/ui/src/components/Auth/Auth.tsx
Due: ui
