Repository fernando-mf/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: mobile, ui, web

fix: update docker build
  packages/web/.dockerignore
Due: none

fix: remove docker ignore
  .dockerignore
Due: none

chore: add path "."
  .github/workflows/deploy.yml
Due: none

chore: revert
  .dockerignore
  packages/web/.dockerignore
Due: none

chore: remove firebase analytics
  packages/mobile/lib/providers/auth_provider.dart
  packages/mobile/lib/routers/routes.dart
Due: mobile

fix: add todo comment
  packages/mobile/lib/providers/auth_provider.dart
Due: mobile

chore: [sentrei-auto-pr]
  CHANGELOG.md
  package.json
  packages/blog/package.json
  packages/common/package.json
  packages/design/package.json
  packages/functions/package.json
  packages/mobile/package.json
  packages/mobile/pubspec.yaml
  packages/pioneer/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

feat: 🎸 update run variables
  infrastructure/environments/alpha/main.tf
  infrastructure/environments/base/variables.tf
  infrastructure/environments/beta/main.tf
  infrastructure/environments/master/main.tf
  infrastructure/modules/run/variables.tf
  infrastructure/modules/run/web.tf
  yarn.lock
Due: none

fix: 🐛 add cross env
  .hadolint.yaml
  package.json
  packages/web/package.json
Due: none

fix: add runtime env
  .gitignore
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/middleware/cookieSession.ts
Due: web

fix: add proper verify
  packages/common/src/utils/auth/verifyIdToken.ts
Due: none

chore: private key replace
  packages/common/src/utils/auth/verifyIdToken.ts
Due: none

chore: add \n replace
  packages/common/src/utils/auth/verifyIdToken.ts
Due: none

fix: update replace replace(/\n/g, " "),
  packages/common/src/utils/auth/verifyIdToken.ts
Due: none

feat: add cloudrun auth
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/ui/src/components/Auth/Auth.tsx
Due: ui

feat: add copyright env
  packages/ui/src/components/Copyright/Copyright.tsx
  packages/web/public/static/locales/en/index.json
Due: ui

chore: invoke
  .github/workflows/deploy.yml
Due: none

fix: remove docker ignore
  .dockerignore
  packages/web/.dockerignore
Due: none

feat: refactor docker ignore
  .dockerignore
  .github/workflows/deploy.yml
  .gitignore
  packages/web/.gitignore
Due: none

fix: verify id token
  packages/common/src/utils/auth/verifyIdToken.ts
Due: none

feat: add working cookie old
  packages/common/src/utils/auth/signinRedirect.ts
  packages/common/src/utils/initFirebase.ts
  packages/common/src/utils/isBrowser.ts
  packages/common/src/utils/sentry.ts
  packages/functions/package.json
  packages/ui/src/components/Auth/Auth.tsx
  packages/ui/src/components/Loader/Loader.tsx
  packages/ui/src/components/Loader/LoaderStyles.ts
  packages/web/.gitignore
  packages/web/src/components/SentreiMeta.tsx
  packages/web/src/pages/spaces.tsx
  packages/web/src/state/.gitkeep
  packages/web/tsconfig.json
Due: ui, web

Update tsconfig.json
  packages/web/tsconfig.json
Due: none

chore: update beta
  packages/web/src/pages/spaces.tsx
  yarn.lock
Due: web

chore: 🤖 add working cookie
  package.json
  packages/common/src/utils/auth/signinRedirect.ts
  packages/web/src/pages/index.tsx
  yarn.lock
Due: web

chore: 🤖 add isomorphic unfetch
  packages/common/package.json
  packages/common/src/utils/auth/setSession.ts
  packages/web/package.json
  yarn.lock
Due: none

chore: 🤖 update
  packages/common/src/utils/auth/verifyIdToken.ts
  packages/ui/src/hooks/useAuth/index.ts
  packages/ui/src/hooks/useFirebaseAuth/index.ts
  packages/ui/src/hooks/useFirebaseAuth/useFirebaseAuth.tsx
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/components/HOC/withAuthUser.tsx
  packages/web/src/components/HOC/withAuthUserInfo.tsx
  packages/web/src/pages/api/login.ts
  packages/web/src/pages/api/logout.ts
  packages/web/src/pages/index.tsx
  yarn.lock
Due: ui, web

Path conditions:
  mobile: any of: packages/mobile/lib
  ui: any of: packages/ui/src
  web: any of: packages/web/src
